<!DOCTYPE html>
<html lang="en">
<head>
    <!--NOTE: Most Web WorldWind home use jquery, Bootstrap and requirejs but those technologies are NOT-->
    <!--required by Web WorldWind. See SimplestExample.html for an example of using Web WorldWind without them.-->
    <meta charset="utf-8"/>
    <title>CitySmart - WorldWise v2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/menu.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script data-main="../scripts/Main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.17/require.min.js"></script>
    <script>


        $(document).ready(function() {

            var parentmenu = document.getElementById("accordion");




            function unpack(rows, key) {
                return rows.map(function(row) { return row[key]; })
            }

            $.ajax({
                type: "GET",
                url: "http://localhost:9086/createlayer",
                dataType: "json",
                success: function (res) {
                    var firstlayer = [];
                    var secondlayer = [];
                    var thirdlayer = [];
                    var layervalue =[];
                    var comparing = [];
                    var comparing3 = [];
                    var classname = [];
                    var removefirstlayer = unpack(res, 'FirstLayer');
                    var removesecondlayer = unpack(res, 'SecondLayer');
                    var removethirdlayer = unpack(res,"ThirdLayer");
                    var Layerinfo = unpack(res,"LayerName");
                    // console.log(removethirdlayer);

                    $.each(removefirstlayer, function (index, value) {
                        if($.inArray(value, firstlayer) === -1) firstlayer.push(value);
                    });
                    $.each(removesecondlayer, function (index, value) {
                        if($.inArray(value, secondlayer) === -1) secondlayer.push(value);
                    });
                    $.each(removethirdlayer, function (index, value) {
                        if($.inArray(value, thirdlayer) === -1) thirdlayer.push(value);
                        // console.log(thirdlayer);
                    });
                    $.each(Layerinfo, function (index, value) {
                        layervalue.push(value);
                    });

                    // console.log(res);
                    // console.log(firstlayer);
                    // console.log(secondlayer);
                    // console.log(thirdlayer);
                    // console.log(layervalue);
                    // console.log(Layerinfo);
                    if(comparing.length === 0){
                        comparing.push(["firstlayer","secondlayer"]);
                    }
                    if(comparing3.length === 0){
                        comparing3.push(["thirdlayer","layermenu"]);
                    }
                    if(classname.length === 0){
                        classname.push("classname");
                    }
                    var createfirstlayer = function() {


                        $.each(firstlayer, function (i) {

                            var paneldefault1 = document.createElement("div");
                            paneldefault1.className = "Menu panel panel-default " + firstlayer[i] ;
                            var panelheading1 = document.createElement("div");
                            panelheading1.className = "panel-heading";
                            var paneltitle1 = document.createElement("h4");
                            paneltitle1.className = "panel-title";
                            var collapsed1 = document.createElement("a");
                            collapsed1.className = "collapsed";
                            collapsed1.setAttribute("data-toggle", "collapse");
                            collapsed1.setAttribute("data-parent", "#accordion");
                            collapsed1.href = "#collapse" + i;
                            var firstlayername = document.createTextNode(firstlayer[i]);
                            firstlayername.className = "menuwords";
                            var collapseone = document.createElement("div");
                            collapseone.className = "panel-collapse collapse";
                            collapseone.id = "collapse" + i;
                            var panelbody1 = document.createElement("div");
                            panelbody1.className = "panel-body";
                            var panelgroup1 = document.createElement("div");
                            panelgroup1.className = "panel-group " + firstlayer[i];
                            panelgroup1.id = "nested" + i;

                            collapsed1.appendChild(firstlayername);
                            paneltitle1.appendChild(collapsed1);
                            collapseone.appendChild(panelbody1);
                            panelbody1.appendChild(panelgroup1);
                            panelheading1.appendChild(paneltitle1);
                            paneldefault1.appendChild(panelheading1);
                            parentmenu.appendChild(paneldefault1);
                            paneldefault1.appendChild(collapseone);
                            // console.log(paneldefault1);
                            // firstlayer ending
                        });

                    };
                    var createotherlayer = function() {
                        $.each(res, function (i) {
                            for (var v = 0; v < comparing.length; v++) {
                                //secondlayer beginning
                                if (comparing[v][1] !== res[i].SecondLayer) {
                                    // console.log("v" + v);

                                    if(v === comparing.length - 1) {
                                        var paneldefault2 = document.createElement("div");
                                        paneldefault2.id = res[i].SecondLayer;
                                        paneldefault2.className = "Menu panel panel-default "+ res[i].SecondLayer;
                                        var panelheading2 = document.createElement("div");
                                        panelheading2.className = "panel-heading";
                                        var paneltitle2 = document.createElement("h4");
                                        paneltitle2.className = "panel-title";
                                        var collapsed2 = document.createElement("a");
                                        collapsed2.className = "collapsed";
                                        collapsed2.setAttribute("data-toggle", "collapse");
                                        collapsed2.setAttribute("data-parent", "#nested");
                                        collapsed2.href = "#" + res[i].FirstLayer + "-" + res[i].SecondLayer;
                                        var secondlayername = document.createTextNode(res[i].SecondLayer);
                                        secondlayername.className = "menuwords";
                                        var nested1c1 = document.createElement("div");
                                        nested1c1.id = res[i].FirstLayer + "-" + res[i].SecondLayer;
                                        nested1c1.className = "panel-collapse collapse";
                                        var panelbody3 = document.createElement("div");
                                        panelbody3.className = "panel-body " + res[i].SecondLayer;

                                        paneldefault2.appendChild(panelheading2);
                                        panelheading2.appendChild(paneltitle2);
                                        paneldefault2.appendChild(nested1c1);
                                        nested1c1.appendChild(panelbody3);
                                        collapsed2.appendChild(secondlayername);
                                        paneltitle2.appendChild(collapsed2);

                                        document.getElementsByClassName("panel-group " + res[i].FirstLayer)[0].appendChild(paneldefault2);
                                        comparing.push([res[i].FirstLayer, res[i].SecondLayer]);
                                        // console.log(comparing);
                                    }
                                } else {
                                    break;
                                }

                            }// secondlayer ending

                            if (res[i].LayerType === "Wmslayer") {

                                for (var c = 0; c < comparing3.length; c++) {

                                    if (comparing3[c][0] !== res[i].ThirdLayer) {

                                        if (c === comparing3.length - 1) {
                                            var checkboxdivG = document.createElement("div");
                                            checkboxdivG.className = "State " + res[i].ThirdLayer + " " + res[i].StateName + " " + res[i].CityName;
                                            // console.log(checkboxdivG.className);
                                            var checkboxh5G = document.createElement("h5");
                                            var checkboxaG = document.createElement("a");
                                            var checkaboxatG = document.createTextNode(res[i].ThirdLayer);
                                            checkaboxatG.className = "menuwords";
                                            var checkboxlabelG = document.createElement("label");
                                            checkboxlabelG.className = "switch right";
                                            var checkboxinputG = document.createElement("input");
                                            checkboxinputG.type = "checkbox";
                                            checkboxinputG.className = "input" + res[i].ThirdLayer;
                                            checkboxinputG.id = res[i].LayerType;
                                            checkboxinputG.setAttribute("value", res[i].LayerName);
                                            var checkboxspanG = document.createElement("span");
                                            checkboxspanG.className = "slider round";
                                            checkboxdivG.appendChild(checkboxh5G);
                                            checkboxaG.appendChild(checkaboxatG);
                                            checkboxh5G.appendChild(checkboxaG);
                                            checkboxh5G.appendChild(checkboxlabelG);
                                            checkboxlabelG.appendChild(checkboxinputG);
                                            checkboxlabelG.appendChild(checkboxspanG);
                                            document.getElementsByClassName("panel-body " + res[i].SecondLayer)[0].appendChild(checkboxdivG);
                                            comparing3.push([res[i].ThirdLayer, res[i].LayerName]);
                                            classname.push([res[i].ThirdLayer +" " + res[i].CityName + res[i].StateName, res[i].CityName]);
                                        }

                                    } else {

                                        if (comparing3[c][1] !== res[i].LayerName) {
                                            document.getElementsByClassName("input" + res[i].ThirdLayer)[0].removeAttribute("value");
                                            comparing3[c][1] += "," + res[i].LayerName;
                                            document.getElementsByClassName("input" + res[i].ThirdLayer)[0].setAttribute("value", comparing3[c][1]);
                                            // console.log(document.getElementsByClassName(res[i].ThirdLayer)[0]);

                                        }
                                        if (classname[c][0] !== res[i].ThirdLayer +" "+ res[i].CityName  + " " + res[i].StateName) {
                                            classname[c][0] += " " + res[i].CityName + res[i].StateName;
                                            // classname[c][1] += res[i].CityName;
                                            document.getElementsByClassName("State " + res[i].ThirdLayer)[0].className = "State " + classname[c][0];

                                            if (classname[c][1] !== res[i].CityName) {

                                                document.getElementsByClassName(classname[c][0])[0].className += " " + res[i].CityName;
                                            }

                                        }

                                    }
                                }
                            }

                            if (res[i].LayerType === "Placemark") {

                                for (var a = 0; a < comparing3.length; a++) {

                                    if (comparing3[a][0] !== res[i].ThirdLayer) {

                                        if (a === comparing3.length - 1) {
                                            var checkboxdiv = document.createElement("div");
                                            checkboxdiv.className = "State " + res[i].ThirdLayer + " " + res[i].StateName + " " + res[i].CityName;
                                            var checkboxh5 = document.createElement("h5");
                                            var checkboxa = document.createElement("a");
                                            var checkaboxat = document.createTextNode(res[i].ThirdLayer);
                                            var checkboxlabel = document.createElement("label");
                                            checkboxlabel.className = "switch right";
                                            var checkboxinput = document.createElement("input");
                                            checkboxinput.type = "checkbox";
                                            checkboxinput.id = res[i].LayerType;
                                            checkboxinput.className = "input" + res[i].ThirdLayer;
                                            checkboxinput.setAttribute("value", res[i].LayerName);
                                            var checkboxspan = document.createElement("span");
                                            checkboxspan.className = "slider round";
                                            checkboxdiv.appendChild(checkboxh5);
                                            checkboxa.appendChild(checkaboxat);
                                            checkboxh5.appendChild(checkboxa);
                                            checkboxh5.appendChild(checkboxlabel);
                                            checkboxlabel.appendChild(checkboxinput);
                                            checkboxlabel.appendChild(checkboxspan);
                                            document.getElementsByClassName("panel-body " + res[i].SecondLayer)[0].appendChild(checkboxdiv);
                                            comparing3.push([res[i].ThirdLayer, res[i].LayerName]);
                                            classname.push([res[i].ThirdLayer +" "+ res[i].CityName + res[i].StateName,  res[i].CityName]);

                                        }
                                    }
                                    else {
                                        document.getElementsByClassName("input" + res[i].ThirdLayer)[0].setAttribute("value", res[i].LayerName);
                                        if (classname[a][0] !== res[i].ThirdLayer +" "+ res[i].CityName + " " + res[i].StateName) {
                                            classname[a][0] += " " + res[i].CityName + res[i].StateName;
                                            document.getElementsByClassName("State " + res[i].ThirdLayer)[0].className ="State "+ classname[a][0];

                                            if (classname[a][1] !== res[i].CityName) {
                                                document.getElementsByClassName(classname[a][0])[0].className += " " + res[i].CityName;

                                            }

                                        }

                                    }

                                }
                            }

                        });

                    };

                    createotherlayer(createfirstlayer());
                    // console.log(classname);
                    // console.log(parentmenu);
                    // console.log(document.getElementsByClassName("State "));
                },
                error: function (jqXHR, exception) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                    console.log(msg);

                }

            });


        });
    </script>
</head>
<body>
<div class="container">
    <div>
        <img src="../images/TL_WB_Banner.jpg" align="middle" alt="Placeholder Image" />
    </div>

    <div>
        <!-- Menu -->
        <ul class="nav navbar-nav">
            <li class="dropdown"><a href="#" title="Energy Production" class="dropdown-toggle disabled" data-toggle="dropdown">Energy Production<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle" data-toggle="dropdown">2012</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/3pf2nmte3ddqfjb/summary%202012.xls?dl=0" target="_blank" title="SFile2012">Summary File</a></li>
                            <li><a href="https://www.dropbox.com/s/2pan6s2urnn8ej0/2012.png?dl=0" target="_blank" title="Chart2012">Chart</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">2013</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/8d20wicmlh8ra6q/summary%202013.xls?dl=0" target="_blank" title="SFile2013">Summary File</a></li>
                            <li><a href="https://www.dropbox.com/s/ahl8nz2xngifwv5/2013.png?dl=0" target="_blank" title="Chart2013">Chart</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">2014</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/62skykaejow2oix/Summary%202014.xls?dl=0" target="_blank" title="SFile2014">Summary File</a></li>
                            <li><a href="https://www.dropbox.com/s/qdws7kbjxzod13w/2014.png?dl=0" target="_blank" title="Chart2014">Chart</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">2015</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/60s91y69aft4qvb/Summary%202015.xls?dl=0" target="_blank" title="SFile2015">Summary File</a></li>
                            <li><a href="https://www.dropbox.com/s/7pvrtga0b9h4r16/2015.png?dl=0" target="_blank" title="Chart2015">Chart</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">2016</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/byudycgf2rbdubj/Summary%202016.xls?dl=0" target="_blank" title="SFile2016">Summary File</a></li>
                            <li><a href="https://www.dropbox.com/s/lmmrl01qpakqlrw/2016.png?dl=0" target="_blank" title="Chart2016">Chart</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">2017</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/5x578y6aibm1aku/Summary-%20January%2C%202017.pdf?dl=0" target="_blank" title="SFile2017">Summary File</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown"><a href="#" title="Energy Production" class="dropdown-toggle disabled" data-toggle="dropdown">Economics<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle"><strong>Grant Application</strong></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/ktkgty5bqtqvgau/KEA%20Renewable%20Energy%20Fund%20Grant%20Application.pdf?dl=0" target="_blank" title="SFile2016">PDF File</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">Balance Sheet</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/d0nr0vhxnhgkd8x/KEA%20Balance%20Sheet.xlsx?dl=0" target="_blank" title="SFile2016">Excel File</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">Sales Data</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/wewyxdhrkxdjwrh/KEA%20Historical%20Sales%20Data%202012-2016.xlsx?dl=0" target="_blank" title="2012-16">2012-2016</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">Revenue Trends Data</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/mhr4mn2dbkgj0e4/KEA%205-Year%20Revenue%20Trend%20Charts.xlsx?dl=0" target="_blank" title="2012-2016">2012-2016</a></li>
                        </ul>
                    </li>
                </ul>
            <li class="dropdown"><a href="#" title="Financials" class="dropdown-toggle disabled" data-toggle="dropdown">Financials<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">2012</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/fww6uoabf6r9xtv/KEA%20residential%20consumption%20data%202012%20%28ed1%29.xlsx?dl=0" target="_blank" title="RC2012">Residential Consumption Data</a></li>
                            <li><a href="https://www.dropbox.com/s/4uictwnsxkcpee4/KEA%20commercial%20consumption%20data%202012%20%28ed1%29.xlsx?dl=0" target="_blank" title="CC2012">Commercial Consumption Data</a></li>
                            <li><a href="https://www.dropbox.com/s/0h5z6gonaj7ye4m/KEA%20industrial%20consumption%20data%202012%20%28ed1%29.xlsx?dl=0" target="_blank" title="IC2012">Industrial Consumption Data</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">2013</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/544qekzdg4fznky/KEA%20residential%20consumption%20data%202013%20%28ed1%29.xlsx?dl=0" target="_blank" title="RC2013">Residential Consumption Data</a></li>
                            <li><a href="https://www.dropbox.com/s/nly46h6pk97cs6w/KEA%20commercial%20consumption%20data%202013%20%28ed1%29.xlsx?dl=0" target="_blank" title="CC2013">Commercial Consumption Data</a></li>
                            <li><a href="https://www.dropbox.com/s/5df33491k24qj4k/KEA%20industrial%20consumption%20data%202013%20%28ed1%29.xlsx?dl=0" target="_blank" title="IC2013">Industrial Consumption Data</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">2016</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/zumahy8t4e7f9sb/KEA%20residential%20consumption%20data%202016%20%28ed1%29.xlsx?dl=0" target="_blank" title="RC2016">Residential Consumption Data</a></li>
                            <li><a href="https://www.dropbox.com/s/iwr5llvqinv1xsm/KEA%20commercial%20consumption%20data%202016%20%28ed1%29.xlsx?dl=0" target="_blank" title="CC2016">Commercial Consumption Data</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">2017</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/l7oqh124o048cdz/January%202017%20Sales%20Revenues.xlsx?dl=0" target="_blank" title="CombinedJan">Combined, January</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">Prediction Chart</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/d7ml3tnonhkhxah/Financials1.jpg?dl=0" target="_blank" title="predictionChart">Chart</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">Savings Using Renewable Energy</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/ye2hkars63u2oce/Financials2.jpg?dl=0" target="_blank" title="SUREchart">Chart</a></li>
                            <li><a href="https://www.dropbox.com/s/reg9oljpcm00h75/Payback.jpg?dl=0" target="_blank" title="SUREsimple">Simpler Chart</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">Balance Sheet</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/41xpo5loeon8vri/KEABalanceSheet.jpg?dl=0" target="_blank" title="balanceChart">Chart</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown"><a href="#" title="Presentations" class="dropdown-toggle disabled" data-toggle="dropdown">Presentations<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">Annual Report</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/5o1u34nvvagl7xo/KEA%202015%20Annual%20Report.pdf?dl=0" target="_blank" title="AR2015">Residential Consumption Data</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">Student Project</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/544qekzdg4fznky/KEA%20residential%20consumption%20data%202013%20%28ed1%29.xlsx?dl=0" target="_blank" title="TandPofWT">Tech & Progression of WT</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">KEA Background</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/6gc69d04hhxbck4/Kodiak%20Electric%20Association%20Background.docx?dl=0" target="_blank" title="KEAback">WT Construction</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">Wind Turbine</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/ofpgz7ncydrguqz/2013_REC_Pillar%20Mountain%20Phase%202%20Wind%20Turbines%20and%20Battery%20System_Darron%20Scott.pdf?dl=0" target="_blank" title="WTbattery">WT Battery System</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">Positive Effects of the WT</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/9hvetutsifsw0wm/KEA%20AAMag2015.pdf?dl=0" target="_blank" title="PosEffWT">2015</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">Renewable Energy Vision</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/g2q3zxky3pyd7rx/KEA%20Renewable%20Energy%20Vision.ppt-.ppt?dl=0" target="_blank" title="EnergyVision">Self Sustainability</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">Presentations to Greenland Power Leaders</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/mqwd7mm371962xe/2016%20Development%20and%20Operation%2C%20Wind.pptx?dl=0" target="_blank" title="DevANDop">Development & Operation</a></li>
                            <li><a href="https://www.dropbox.com/s/ujw0005fdk2ypbe/10.2016%20Role%20of%20Storage%20Transition%20to%20100%20%28002%29.pptx?dl=0" target="_blank" title="RoleOfStorage">Role of Storage Transition to 100</a></li>
                            <li><a href="https://www.dropbox.com/s/3895fs5vrzng2fp/2016%20Energy%20Cooperative%27s%20Perspective%20%28003%29.pptx?dl=0" target="_blank" title="ECperspective">Energy Cooperative's Perspective</a></li>
                            <li><a href="https://www.dropbox.com/s/o6358yz7xkh4679/2016%20Early%20Stage%20Planning.pptx?dl=0" target="_blank" title="ESplanning">Early Stage Planning</a></li>

                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown"><a href="#" title="TechInfo" class="dropdown-toggle disabled" data-toggle="dropdown">Technical Info<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">WT Generator Systems</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/df2r7h9opv677se/GE_Wind%20Turbine_Technical_Description.pdf?dl=0" target="_blank" title="WT_PDF">PDF</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">Industrial WT</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/ucc9w5opc2iu8kz/Size%20specifications%20industrial%20wind%20turbines%C2%A0.docx?dl=0" target="_blank" title="IndustrialWT">Document</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">Brochure of WT</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/4tjd8rn85p2erax/9AKK100580A2551_Powerstore_Brochure_EN_HR_%28Dic2013%29.pdf?dl=0" target="_blank" title="BrochurePDF">PDF</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">Specifications of 1.5MW WT</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/31iupydoyryambl/GEA14954C15-MW-Broch.pdf?dl=0" target="_blank" title="SpecPDF">PDF</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle">Progress Report</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.dropbox.com/s/9adoo9qtw9okpm9/KEA_progress_report_4.pdf?dl=0" target="_blank" title="ProgressPDF">PDF</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="row">

        <div class="col-sm-3">
            <div class="container">
                <h4>Please Select Here First</h4>
                <div>
                    <p>
                        <select id="myListCountry"  style="width:180px; height:21px; background:white" onchange="ChangeSelectList(this.value)">
                            <option selected="selected" value="AL">All Layer</option>
                            <!--<option>United States of America</option>-->
                            <!--<option value="AL" selected="selected" class="a">All Layer</option>-->
                        </select>
                    </p>
                </div>
                <div>
                    <p>
                        <select id="myListState"  style="width:180px; height:21px; background:lightgray" onchange="ChangeStateList(this.value)">
                            <option selected="selected" value="AL">All Layer</option>
                            <!--<option>-Select a State-</option>-->
                        </select>
                    </p>
                </div>
                <div>
                    <p>
                        <select id="myListCity"  style="width:180px; height:21px; background:lightgray" onchange="ChangeLayerList(this.value)">
                            <option selected="selected" value="AL">All Layer</option>
                        </select>
                    </p>
                </div>
                <!--<button id="loadHeatmapBtn" type="button">Heatmap</button>-->
            </div>
            <br>
            <h4>Menu</h4>
            <div class="container">

                <div class="panel-group medium-3" id="accordion">


                </div>

            </div><!-- /.panel-group -->

        </div>

        <div class="col-sm-9" id="globe">
            <canvas id="canvasOne" width="1000" height="1000" style="width: 100%; height: auto;">
                Your browser does not support HTML5 Canvas.
            </canvas>
        </div>

    </div>
</div>
</div>
</body>
</html>