<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>USGS Data Visualization - Confirm Password</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!--<link rel="stylesheet" href="//unpkg.com/flatpickr/dist/flatpickr.min.css">-->
    <script src="../scripts/jquery-3.3.1.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/flatpickr"></script>
    <!--<script src="//unpkg.com/flatpickr"></script>-->
    <style>body {
            padding-top: 80px;
            word-wrap: break-word;
        }
        .floating-Box {
            display: inline;
        }

        @media screen and (max-width: 320px){
            h1 {
                font-size: 26px;
            }

            #button {
                font-size: 14px;
                padding: 5px 12px;
            }

            .alert-danger {
                font-size: 14px;
                padding: 10px 10px;
            }
        }

        @media screen and (min-width:330px) and (max-width: 375px){
            h1 {
                font-size: 26px;
            }

            #button {
                font-size: 15px;
                padding: 5px 12px;
            }

            .alert-danger {
                font-size: 15px;
                padding: 10px 10px;
            }
        }
        @media  screen and (min-width:380px) and (max-width: 414px){
            h1 {
                font-size: 27px;
            }
            #button {
                font-size: 17px;
                padding: 5px 12px;
            }

            .alert-danger {
                font-size: 17px;
                padding: 10px 10px;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <a href="http://aworldbridge.com">
            <img class="banner" src="/images/NewWBBanner.jpg" style="height:97px; width: 120%" />
        </a>
        <h1><span class="fa fa-sign-in"></span> Reset Password</h1>
        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger">
            <%= message %>
        </div>
        <% } %>
        <!-- LOGIN FORM -->
        <form action="/reset/:token" method="post">
            <div class="form-group">
                <label>New Password:  </label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
                <label>Confirm Password:  </label>
                <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-warning btn-lg" id="button"> Update Password </button>
        </form>
        <br>
        <!--<p>Need an account? <a href="/signup"> Signup </a></p>-->
        <!--<p>Or go back to <a href="/login">Login</a>.</p>-->
        <!--<p><a href="/reset"> Show off </a></p>-->
    </div>
</div>

</body>
</html>
