<!-- views/user_home.ejs -->
<!doctype html>
<html>
<head>
    <title>USGS Data Visualization - Approved Requests</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!--<link rel="stylesheet" href="//unpkg.com/flatpickr/dist/flatpickr.min.css">-->
    <link rel="stylesheet" href="../css/Title.css" type="text/css">
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBX94wEDdQ52lCDhKAhcfR-flIw1NyLTMA"></script>
    <script src="../scripts/jquery-3.3.1.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/flatpickr"></script>
    <!--<script src="//unpkg.com/flatpickr"></script>-->

    <style>
        body { padding-bottom: 80px; word-wrap:break-word; }

        .floatingBox3{
            display: inline-table;
            width:450px;
        }
        .banner{
            position:relative;
            width: 100%;
        }
        .floatingBox{
            display: inline;
        }
        .floating-Box {
            display: inline-block;
            /*width:350px;*/
        }
        table {
            overflow-x: auto;
            width: 100%;
            display: block;
            margin-bottom: 20px;
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid #cdcdcd;
            text-align: center;
        }

        table th,
        table td {
            padding: 10px;
            text-align: left;
        }

        table::-webkit-scrollbar-thumb {
            border-radius: 2px;
            background-color: rgba(0, 0, 0, .5);
            -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
        }

        table::-webkit-scrollbar {
            -webkit-appearance: none;
            height: 7px;
        }
        .navul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            /*overflow: hidden;*/
        }
        .navbutton1 {
            width: 110px;
            font-size: 16px;
            height: 80px;
            margin: 0;
            border-radius: 0px 0 0;
            background-color: #000000;
            border: 0 solid;
            color: #ffffff;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
        }

        .navbutton1:hover {
            background-color: #333;
            color: white;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }
        .button1 {
            height: 40px;
            width: 110px;
            float: right;
            border-radius: 5px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
            background-color: white;
            color: #337ab7;
            border: 1px solid #337ab7;
        }

        .button1:hover {
            background-color: #337ab7;
            color: white;
        }

        .button2 {
            height: 40px;
            width: 220px;
            border-radius: 2px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
            background-color: white;
            color: #6a6a6a;
            border: 1px solid #6a6a6a;
        }

        .button2:hover {
            background-color: #c8c8c8;
            color: white;
        }

        .dropbutton {
            float: right;
            width: 150px;
            height: 80px;
            padding: 16px;
            color: white;
            background-color: #337ab7;
            border: none;
            cursor: pointer;
            font-size: 16px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
        }
        .dropbutton:hover, .dropbutton:focus {
            background-color: #2b6699;
        }
        .dropdown-content {
            display: none;
            background-color: #f1f1f1;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            right: 0;
            z-index: 1;
        }
        .dropdown-content a {
            color: black;
            padding: 20px;
            text-decoration: none;
            display: block;
        }
        .dropdown a:hover {
            background-color: #ddd;
        }
        .show {
            display: block;
        }
    </style>
</head>
<div class="navul" style="height:80px;background:#000000;">
    <a class="navul" style="background:#000000;" href="http://aworldbridge.com">
        <img class="banner" src="/images/NewWBBanner.jpg" style="width:510px;height:76px;"/>
    </a>
    <a href="/homepage" style="width:110px;">
        <button class="navbutton1"> Homepage </button>
    </a>
    <a href="/userHome" style="width:110px;">
        <button class="navbutton1" style="width: 160px"> User Home </button>
    </a>
    <a href="/newRequest" id= "Request" style="width:110px;">
        <button class="navbutton1" style="width: 140px"> New Request </button>
    </a>

    <div class="dropdown" style="height: 80px; width: 200px; float: right; margin: 0;">
        <button onclick="dropDown()" class="dropbutton" id="Username">
            <%= firstName%>
            <span class="caret"></span>
        </button>
        <div id="userMenuAdmin" class="dropdown-content">
            <a href="/userProfile"> User Profile </a>
            <a href="/userManagement"> User Management </a>
            <a href="/signout"> Sign Out </a>
        </div>
        <div id="userMenuRegular" class="dropdown-content">
            <a href="/userProfile"> User Profile </a>
            <a href="/signout"> Sign Out </a>
        </div>
    </div>
</div>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-check-square-o"></span><strong> USGS Data Visualization - Approved Requests </strong></h1>
        <h4><span class="fa fa-user"></span>&nbsp;<strong>Account Name</strong>: <%= user.username %></h4>
    </div>
</div>
<br>
    <div class="container" style="width: 900px;">
        <div class="center floating-Box clearForm" style="width: 490px;">
            <h4 class="floating-Box" style="width: 220px;"><strong>Date Range:&nbsp;</strong></h4>
            <div style="width: 350px;">
                <h5 class="floating-Box" style="width: 50px;">From:&nbsp;</h5>&nbsp;
                <input class="date floating-Box" type="text" placeholder="Select Date" style="width: 280px;
    height: 40px;
    padding-left: 10px;
    margin: 5px 5px 5px 0px;
    border-radius: 5px;
    border: 1px solid #c8c8c8;">
                <h5 class="floating-Box" style="width: 50px;">To:&nbsp;</h5>&nbsp;
                <input class="date floating-Box" type="text" placeholder="Select Date" style="width: 280px;
    height: 40px;
    padding-left: 10px;
    margin: 5px 5px 5px 0px;
    border-radius: 5px;
    border: 1px solid #c8c8c8;">
            </div>
        </div>
        <div class="floating-Box clearForm" style="width: 350px;">
            <h4 class="floatingBox" style="width: 220px;"><strong>User Name:&nbsp;</strong></h4>
            <div class="name" style="width: 375px;">
                <h5 class="floating-Box">First Name:</h5>
                <input class="floating-Box" id="firstName" type="text" name="first name" style="background: WhiteSmoke;
    width: 275px;
    height: 40px;
    padding-left: 10px;
    margin: 5px 0px;
    border-radius: 5px;
    border: 1px solid #c8c8c8;" value="">
                <h5 class="floating-Box">Last Name:</h5>
                <input class="floating-Box" id="lastName" type="text" name="first name" style="background: WhiteSmoke;
    width: 275px;
    height: 40px;
    padding-left: 10px;
    margin: 5px 0px;
    border-radius: 5px;
    border: 1px solid #c8c8c8;" value="">
            </div>
        </div>
        <div class="center clearForm" style="width: 900px;">
            <h4><strong>Other Customized Filters</strong></h4>
            <h5 class="floatingBox3" style="width: 490px;">Category1:&nbsp;&nbsp;<select class="filter" style="width: 260px;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #c8c8c8;">
                <option value="">Select A Field</option>
                <option value="UID">UID</option>
                <option value="RID">RID</option>
                <option value="LayerCategory">Layer Type</option>
                <option value="StateName">Layer State</option>
                <option value="CountryName">Layer Country</option>
                <option value="ContinentName">Layer Continent</option>
                <option value="FirstLayer">Main Category</option>
                <option value="SecondLayer">Sub Category</option>
                <option value="ThirdLayer">Layer Name</option>
                <option value="LayerFormat">Layer Format</option>
                <option value="Layer_Description">Layer Description</option>
                <option value="Layer_uploader">Layer Uploader</option>
                <option value="Layer_Uploader_name">Layer Uploader Name</option>
            </select>
        </h5>
            <h5 class="floatingBox3" style="width: 360px;">Content:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="content" style="width: 280px;
    padding-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #c8c8c8;"></h5>
            <br style="width: 300px;">
            <h5 class="floatingBox3" style="width: 490px;">Category2:&nbsp; <select class="filter" style="width: 260px;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #c8c8c8;">
                <option value="">Select A Field</option>
                <option value="UID">UID</option>
                <option value="RID">RID</option>
                <option value="LayerCategory">Layer Type</option>
                <option value="StateName">Layer State</option>
                <option value="CountryName">Layer Country</option>
                <option value="ContinentName">Layer Continent</option>
                <option value="FirstLayer">Main Category</option>
                <option value="SecondLayer">Sub Category</option>
                <option value="ThirdLayer">Layer Name</option>
                <option value="LayerFormat">Layer Format</option>
                <option value="Layer_Description">Layer Description</option>
                <option value="Layer_uploader">Layer Uploader</option>
                <option value="Layer_Uploader_name">Layer Uploader Name</option>
            </select>
        </h5>
            <h5 class="floatingBox3" style="width: 360px;">Content:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="content" style="width: 280px;
    padding-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #c8c8c8;"></h5>
            <br style="width: 300px;">
            <h5 class="floatingBox3" style="width: 490px;">Category3:&nbsp; <select class="filter" style="width: 260px;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #c8c8c8;">
                <option value="">Select A Field</option>
                <option value="UID">UID</option>
                <option value="RID">RID</option>
                <option value="LayerCategory">Layer Type</option>
                <option value="StateName">Layer State</option>
                <option value="CountryName">Layer Country</option>
                <option value="ContinentName">Layer Continent</option>
                <option value="FirstLayer">Main Category</option>
                <option value="SecondLayer">Sub Category</option>
                <option value="ThirdLayer">Layer Name</option>
                <option value="LayerFormat">Layer Format</option>
                <option value="Layer_Description">Layer Description</option>
                <option value="Layer_uploader">Layer Uploader</option>
                <option value="Layer_Uploader_name">Layer Uploader Name</option>
            </select></h5>
            <h5 class="floatingBox3" style="width: 360px;">Content:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="content" style="width: 280px;
    padding-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #c8c8c8;"></h5>
    </div>
        <br>
        <div class="center" style="width: 850px;
    padding: 0px;
    height: 40px;">
            <button id="submitButton" class="button1" type="button" onclick="query()">Filter</button>
            <button id="deleteButton" class="btn btn-primary btn-sm button" type="button" style="height: 40px;
    width: 110px; float: left; margin-right: 5px;">Disapprove</button>
            <button id="showButton" class="btn btn-primary btn-sm button" type="button" style="height: 40px;
    width: 110px; float: left">Show All</button>
        </div>
    <br>
    <div class="center">
	    <h4 id="subtitles"><strong>Most Recent Records:</strong></h4>
        <h4 style="color: #9d9d9d"><strong>Scouting:</strong></h4>

        <div id="dvData">
            <table id="dataDisplay">
                <thead>
                <tr>
                    <th>UID</th>
                    <th>RID</th>
                    <th>Date</th>
                    <th>Layer Type</th>
                    <th>Layer State</th>
                    <th>Layer Country</th>
                    <th>Layer Continent</th>
                    <th>Main Category</th>
                    <th>Sub Category</th>
                    <th>Layer Name</th>
                    <th>Layer Format</th>
                    <th>Layer Description</th>
                    <th>Layer Uploader</th>
                    <th>Layer Uploader Name</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                <tr>
                    <th>UID</th>
                    <th>RID</th>
                    <th>Date</th>
                    <th>Layer Type</th>
                    <th>Layer State</th>
                    <th>Layer Country</th>
                    <th>Layer Continent</th>
                    <th>Main Category</th>
                    <th>Sub Category</th>
                    <th>Layer Name</th>
                    <th>Layer Format</th>
                    <th>Layer Description</th>
                    <th>Layer Uploader</th>
                    <th>Layer Uploader Name</th>
                    <th>Status</th>
                </tr>
                </tfoot>
            </table>

            <br>
            <button class="button2" onclick="exportTableToCSV('Scouting_<%= user.username %>.csv')">Export above rows to .CSV File</button>
        </div>
    </div>
    <!--<div id="map" style="width:100%; height:400px;"></div>-->
</div>
<script type='text/javascript'>
    var table = $("#dataDisplay").DataTable();
    // var trapTable = $("#trapDisplay").DataTable();
    var UserRole = "<%= user.userrole %>";
    var DropMenu;
    var rowSelected = [];
    var transactionID = [];
    var transactionpicturename = [];
    var LayerNameStr = [];

    $(document).ready(function(){
        $(function() {
            table.clear();
            table.draw();
            // trapTable.clear();
            // trapTable.draw();
            queryAndDisplay();
            //"statusDel=" + "Active"

            flatpickr(".date", {
                dateFormat: "Y-m-d",
                time_24hr: true
            });

            if (UserRole === "Regular") {
                document.getElementById("deleteButton").style.display = "none";
            }
        });

        $('#dataDisplay tbody').on('click', 'tr', function () {
            thArray = [];
            transactionID = [];

            $(this).toggleClass('selected');    //toggle class for the rows selected
            $(this).toggleClass('change');    //toggle class change color
            // changeColor();

            rowSelected = table.rows('.selected').data();    //Store all the data for selected rows'

            $('#dataDisplay > thead > tr > th').each(function () {
                thArray.push($(this).text())
            })
            // console.log(rowSelected);
            for (var i = 0; i < rowSelected.length; i ++) {
//                console.log("rowSelected[" + i + "][0]: " + rowSelected[i][0]);
                transactionID.push(rowSelected[i][1]);
                transactionpicturename.push(rowSelected[i][11]);
                LayerNameStr.push(rowSelected[i][8]);
            }
        });


        $("#deleteButton").on("click", function () {
            if (confirm("Are you sure you would like to trashfolder this row(s)?") === true) {
                var transactionIDStr = "transactionIDStr=" + transactionID.toString();
                var pictureStr = "pictureStr=" + transactionpicturename.toString();
                var LayerName = "LayerName=" + LayerNameStr.toString();
                $.ajax({
                    url: '/deleteRow2',
                    type: 'GET',
                    dataType: 'json',
                    async: false,
                    data: transactionIDStr + '&' + pictureStr + '&' + LayerName,
                    success: function (result) {
                        window.location.replace('/dataHistory')
                    }
                })
            } else { return false;}
        });

        $("#showButton").on("click", function () {
            table.clear();
            table.draw();
            queryAndDisplay();
            $(".clearForm input[type='text']").val('');
            $(".filter").val('');
            $(".date").val('');
        });
    });

    function dropDown() {
        if (UserRole === "Admin") {
            document.getElementById("userMenuAdmin").classList.toggle("show");
        } else if (UserRole === "Regular") {
            document.getElementById("userMenuRegular").classList.toggle("show");
        }
    }
    window.onclick = function(event) {
        if (!event.target.matches('.dropbutton')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

    function query() {
        var firstName = document.getElementById("firstName").value;
        var lastName = document.getElementById("lastName").value;
        var startDate = document.getElementsByClassName("date")[0].value;
        var endDate = document.getElementsByClassName("date")[1].value;
        var filter1 = document.getElementsByClassName("filter")[0].value;
        var filter2 = document.getElementsByClassName("filter")[1].value;
        var filter3 = document.getElementsByClassName("filter")[2].value;
        var content1 = document.getElementsByClassName("content")[0].value;
        var content2 = document.getElementsByClassName("content")[1].value;
        var content3 = document.getElementsByClassName("content")[2].value;

        var queryStr = "&firstName=" + firstName + "&lastName=" + lastName + "&startDate=" + startDate + "&endDate=" + endDate + "&filter1=" + filter1 + "&filter2=" + filter2 + "&filter3=" + filter3 + "&content1=" + content1 + "&content2=" + content2 + "&content3=" + content3;

        table.clear();
        table.draw();
        // trapTable.clear();
        // trapTable.draw();
        queryAndDisplay(queryStr);
    }

    var queryAndDisplay = function (querystr) {
        $.ajax({
            url: '/filterQuery',
            type: 'GET',
            dataType: 'json',
            async: false,
            data: querystr,
            success: function (resp) {
                if (!resp[0].errMsg) {
                    for (var i = 0; i < resp.length; i++) {
                        if (resp[i].Status === "Active") {
                            table.row.add([
                                resp[i].UID,
                                resp[i].RID,
                                resp[i].Date,
                                resp[i].LayerCategory,
                                resp[i].StateName,
                                resp[i].CountryName,
                                resp[i].ContinentName,
                                resp[i].FirstLayer,
                                resp[i].SecondLayer,
                                resp[i].ThirdLayer,
                                resp[i].LayerFormat,
                                resp[i].Layer_Description,
                                resp[i].Layer_Uploader,
                                resp[i].Layer_Uploader_name,
                                resp[i].Status
                            ]).draw(false);
                        }
                    }
                } else {
                    alert(resp[0].errMsg);
                }
            }
        });
    }

    function downloadCSV(csv, filename) {
        var csvFile;
        var downloadLink;

        // CSV file
        csvFile = new Blob([csv], {type: "text/csv"});

        // Download link
        downloadLink = document.createElement("a");

        // File name
        downloadLink.download = filename;

        // Create a link to the file
        downloadLink.href = window.URL.createObjectURL(csvFile);

        // Hide download link
        downloadLink.style.display = "none";

        // Add the link to DOM
        document.body.appendChild(downloadLink);

        // Click download link
        downloadLink.click();
    }

    function exportTableToCSV(filename) {
        var csv = [];
//        var table = document.querySelector('#trapDisplay');
        var rows = document.querySelector("#dataDisplay").querySelectorAll(".selected, thead");

        for (var i = 0; i < rows.length; i++) {
            var row = [], cols = rows[i].querySelectorAll("td, th");

            for (var j = 0; j < cols.length; j++)
                row.push(cols[j].innerText);

            csv.push(row.join(","));
        }

        // Download CSV file
        downloadCSV(csv.join("\n"), filename);

    }

    function downloadCSV2(csv, filename) {
        var csvFile;
        var downloadLink;

        // CSV file
        csvFile = new Blob([csv], {type: "text/csv"});

        // Download link
        downloadLink = document.createElement("a");

        // File name
        downloadLink.download = filename;

        // Create a link to the file
        downloadLink.href = window.URL.createObjectURL(csvFile);

        // Hide download link
        downloadLink.style.display = "none";

        // Add the link to DOM
        document.body.appendChild(downloadLink);

        // Click download link
        downloadLink.click();
    }


//     function exportTableToCSV2(filename) {
//         var csv = [];
// //        var table = document.querySelector('#trapDisplay');
//         var rows = document.querySelector("#trapDisplay").querySelectorAll(".selected, thead");
//
//         for (var i = 0; i < rows.length; i++) {
//             var row = [], cols = rows[i].querySelectorAll("td, th");
//
//             for (var j = 0; j < cols.length; j++)
//                 row.push(cols[j].innerText);
//
//             csv.push(row.join(","));
//         }
//
//         // Download CSV file
//         downloadCSV2(csv.join("\n"), filename);
//
//     }

    // function changeColor() {
    //     var row = document.getElementsByClassName("change")[0].innerHTML.trim().split("</td>");
    //
    //     var latiLong = row[3].substring(4, row[3].length) + "; " + row[4].substring(4, row[4].length);
    //
    //     for (var i = 0; i < markers.length; i++) {
    //         if (markers[i].DMS === latiLong) {
    //             if (document.getElementsByClassName("change")[0].classList.contains("selected") && document.getElementsByClassName("change")[0].classList.contains("change")) {
    //                 document.getElementsByClassName("change")[0].classList.remove("change");
    //                 markers[i].setMap(map);
    //             } else if (document.getElementsByClassName("change")[0].classList.contains("change")) {
    //                 document.getElementsByClassName("change")[0].classList.remove("change");
    //                 markers[i].setMap(null);
    //             }
    //             break
    //         }
    //     }
    //     //alert(markers.length)
    // }

</script>
</body>
</html>