<!-- views/forgotPassword.ejs -->
<!doctype html>
<html>
<head>
    <title>USGS Data Visualization - Forgot Password</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!--<link rel="stylesheet" href="//unpkg.com/flatpickr/dist/flatpickr.min.css">-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/flatpickr"></script>
    <!--<script src="//unpkg.com/flatpickr"></script>-->
    <style>body {
            padding-bottom: 80px;
            word-wrap: break-word;
        }

        .floating-Box {
            display: inline;
        }

        .banner {
            position: relative;
            width: 100%;
            text-align: center;
            display: inline-block;
        }

        .navul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .button1 {
            width: 500px;
            height: 50px;
            border-radius: 15px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
            background-color: white;
            color: #f0ad4e;
            border: 1px solid #f0ad4e;
        }

        .button1:hover {
            background-color: #f0ad4e;
            color: white;
        }

        /*
                @media screen and (max-width:1024px) {
                    h1 {
                        font-size: 30px;
                    }
                    label {
                        font-size: 20px;
                    }
                    p {
                        font-size: 18px;
                    }
                    .btn{
                        padding:8px;
                    }
                }
                    @media screen and (max-width:768px) {
                        h1{
                            font-size:20px;
                        }
                        label{
                            font-size:18px;
                        }
                        .btn{
                            margin:5px;
                            padding:8px;
                        }
                        p{
                            font-size:15px;
                        }
                    }
                    @media screen and (max-width:480px) {
                        label{
                            font-size:17px;
                        }
                        .btn{
                            padding:7px;
                            font-size:17px;
                        }
                        p{
                            font-size:15px;
                        }
                    }
                    @media screen and (max-width:375px) {
                        p{
                            font-size:15px;
                        }
                        .btn{
                            padding:8px;
                        }
                    }
                    @media screen and (max-width:320px) {
                        h1{
                            font-size:20px;
                        }
                        label{
                            font-size:15px;
                        }
                        .btn{
                            font-size:12px;
                            padding:8px;
                        }
                        p{
                            font-size:15px;
                        }
                    }*/</style>
</head>
<div class="navul" style="height: 150px;
    background: #000000;">
    <a class="navul" href="//aworldbridge.com" style="background: #000000;
    width: 520px;
    height: 80px;">
        <img class="banner" src="../images/NewWBBanner.jpg" style="width: 950px;
    height: 150px;
    margin: auto; display: block;" />
    </a>
</div>
<body>
<div class="container center" style="width: 500px;
    padding: 0px;
    margin-top: 10px;">
    <h1 style="width: 500px;"><span class="fa fa-sign-in"></span> Forgot Password</h1>
    <!-- show any messages that come back with authentication -->
    <!--<% if (message.length > 0) { %>-->
    <!--<div class="alert alert-danger"><%= message %></div>-->
    <!--<% } %>-->

    <!-- LOGIN FORM -->
    <form action="/email" method="post" id="email">
        <div class="form-group">
            <label>Please enter your email address below: </label>
            <input type="email" class="form-control" name="username" style="height: 50px;">
        </div>
        <button type="submit" class="button1"> Reset Password </button>
    </form>
    <hr style="margin-bottom: 10px;">
    <!--<p>Need an account? <a href="/signup"> Signup </a></p>-->
    <p style="padding-left: 190px;">Or go back to <a href="/login">Login</a>.</p>
    <!--<p><a href="/reset"> Show off </a></p>-->
</div>
<script>
    $(function(){
        $('#email').submit(function(e) {
            e.preventDefault();
            $.ajax({
                type: "post",
                url: "/email",
                dataType: 'json',
                data: $("#email").serialize(),
                success: function (result) {
                    if (!result.error) {
                        alert(result.message);
                        window.location.replace('/login');
                    } else {
                        alert(result.message);
                    }
                }
            })
        });
    });
</script>
</body>
</html>