<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .banner {
            position:relative;
            width: 85%;
            margin-left:70px;
            margin-top:40px;
        }
        .previous {
            background-color: #5890D1;
            color: white;
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
        }
        .next {
            background-color: #f1f1f1;
            color: black;
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
        }
        .single-special {
            border: 1px solid lightgray;
            padding: 40px;
            border-radius: 40px 40px 40px 0px;
            margin-top:100px;
        }
        #previous1{
            float:right;
            background-color: #5890D1;
            color: white;
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
        }
    </style>
</head>
<body>
<div class="container center">
    <a href="http://aworldbridge.com"><img class="banner" src="/images/NewWBBanner.jpg" /></a>
    <br>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="single-special text-center" style=" animation-name: fadeIn; float: left; width:35%; margin-left:80px;">
                <h3>Layer viewer page: </h3>
                <a href="/app" class="previous">&laquo; Display page</a>
                <a href="" id="previous1">USWTDB</a>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="single-special text-center" style=" animation-name: fadeIn; float: left; width:35%;margin-left:50px;">
                <h3>Login to your account: </h3>
                <a href="/login" class="next">Request page &raquo;</a>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    // $('.previous').mouseenter(function() {
    //     $(this).children('.hiddenFormMouseoverButton').fadeIn();
    // });
    // $('.previous').mouseleave(function() {
    //     $(this).children('.hiddenFormMouseoverButton').fadeOut();
    // });
    // $('.next').mouseenter(function() {
    //     $(this).children('.hiddenFormMouseoverButton').fadeIn();
    // });
    // $('.next').mouseleave(function() {
    //     $(this).children('.hiddenFormMouseoverButton').fadeOut();
    // });
</script>
</html>