<!-- views/homepage.ejs -->
<!doctype html>
<html>
<head>
    <title>USGS Data Visualization - Homepage</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!--<link rel="stylesheet" href="//unpkg.com/flatpickr/dist/flatpickr.min.css">-->
    <script src="../scripts/jquery-3.3.1.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/flatpickr"></script>
    <!--<script src="//unpkg.com/flatpickr"></script>-->
    <style>.floating-Box {
            display: inline-block;
        }

        .spCon {
            width: 1000px;
            border: 1px solid lightgray;
            padding: 40px 0px 40px 40px;
            border-radius: 0px 0px 40px 40px;
            margin-top: 50px;
        }

        .spCon2 {
            width: 1000px;
            border: 1px solid lightgray;
            padding: 40px;
            border-radius: 40px 40px 0px 0px;
            margin-top: 50px;
        }

        .button1 {
            width: 300px;
            height: 90px;
            border-radius: 10px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
            background-color: white;
            color: #337ab7;
            border: 1px solid #337ab7;
            font-size: 18px;
            margin-left: 25px;
        }

        .button1:hover {
            background-color: #337ab7;
            color: white;
        }
        #mapViewer img {
            width: 650px;
            height: 650px;
            position: absolute;
            visibility: hidden;
            opacity:0;
            transition: visibility 0s, opacity 0.5s linear;
            border: 1px solid lightgray;
            border-radius: 15px;
            margin-left: -450px;
            margin-top: 90px;
        }
        #mapViewer:hover img {
            visibility: visible;
            opacity: 1;
        }

        #usTurbine img {
            width: 650px;
            height: 500px;
            position: absolute;
            visibility: hidden;
            opacity:0;
            transition: visibility 0s, opacity 0.5s linear;
            border: 1px solid lightgray;
            border-radius: 15px;
            margin-left: 385px;
            /*margin-top: 60px;*/
        }
        #usTurbine:hover img {
            visibility: visible;
            opacity: 1;
        }
    </style>
</head>
<div class="navul" style="height: 150px;
    background: #000000;">
    <a class="navul" href="http://aworldbridge.com" style="background: #000000;
    width: 500px;
    height: 60px;">
        <img class="banner" src="../images/NewWBBanner.jpg" style="width: 950px;
    height: 150px;
    margin: auto; display: block;" />
    </a>
</div>
<body>
<div class="container" style="width: 1000px;
    padding: 0px;">
    <br>
    <div class="page-header text-center header">
        <h1><span class="fa fa-home"></span><strong> USGS Data Visualization -  Homepage </strong></h1>
    </div>
    <div class=" text-center">
        <h4><a href="/login" style="width: 110px;"><span class="fa fa-angle-double-left"></span> Login </a> to your account or <a href="/signup" style="width: 110px;"> Sign Up <span class="fa fa-angle-double-right"></span></a></h4>


    </div>
    <div class="spCon">
        <div class="pop floating-Box">
            <a href="/mapsvcviewer" id="mapViewer" style="width: 110px;">
                <button class="button1"><span class="fa fa-angle-double-left"></span> Go to MapService Viewer </button>
                <img src="../images/MapViewer.png">
            </a>

        <a href="/usgswt" id="usTurbine">
            <button class="button1" style="margin-left: 250px"> Go to US Wind Turbines Viewer <span class="fa fa-angle-double-right"></span></button>
            <img src="../images/USTurbines.png">
        </a>
        </div>
    </div>

</div>
<script>
    $(function () {
        flatpickr(".date", {
            dateFormat: "Y-m-d",
            time_24hr: true
        });
    });
    var today = new Date();
    var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
    var time2 = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
    var dateTime = date + ' ' + time2;
    document.getElementById("date").value = dateTime;
</script>
</body>
</html>