<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>USGS Data Visualization - WMS Layer Customized Request</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="stylesheet" href="../css/style_final.css" type="text/css">
    <link rel="stylesheet" href="../css/multi-select.css" media="screen" type="text/css">-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../scripts/jquery-validation-1.17.0/demo/css/screen.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/file-uploader/5.16.2/fine-uploader-gallery.css" rel="stylesheet">
    <script src="../scripts/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/file-uploader/5.16.2/all.fine-uploader/all.fine-uploader.min.js"></script>
    <!--<script type = "text/javascript" src="LayerNameSearch.js"></script>-->
    <script src="../src/jquery.multi-select.js"></script>
    <script src="../scripts/country/dist/country.js"></script>
    <!--<script src="../src/jquery.form.min.js"></script>-->
    <!-- Change the "src" attribute according to your installation path -->
    <!--<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>-->
    <script src="../scripts/jquery-validation-1.17.0/dist/jquery.validate.js"></script>

    <script type="text/template" id="qq-template">
        <div class="qq-uploader-selector qq-uploader qq-gallery" qq-drop-area-text="Drop files here">
            <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
            </div>
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span class="qq-upload-drop-area-text-selector"></span>
            </div>
            <div class="qq-upload-button-selector qq-upload-button">
                <div>Upload a file</div>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                            <span>Processing dropped files...</span>
                            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
                        </span>
            <ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite" aria-relevant="additions removals">
                <li>
                    <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                    <div class="qq-progress-bar-container-selector qq-progress-bar-container">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                    <div class="qq-thumbnail-wrapper">
                        <img class="qq-thumbnail-selector" qq-max-size="120" qq-server-scale>
                    </div>
                    <button type="button" class="qq-upload-cancel-selector qq-upload-cancel">X</button>
                    <button type="button" class="qq-upload-retry-selector qq-upload-retry">
                        <span class="qq-btn qq-retry-icon" aria-label="Retry"></span>
                        Retry
                    </button>

                    <div class="qq-file-info">
                        <div class="qq-file-name">
                            <span class="qq-upload-file-selector qq-upload-file"></span>
                            <span class="qq-edit-filename-icon-selector qq-btn qq-edit-filename-icon" aria-label="Edit filename"></span>
                        </div>
                        <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                        <span class="qq-upload-size-selector qq-upload-size"></span>
                        <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">
                            <span class="qq-btn qq-delete-icon" aria-label="Delete"></span>
                        </button>
                        <button type="button" class="qq-btn qq-upload-pause-selector qq-upload-pause">
                            <span class="qq-btn qq-pause-icon" aria-label="Pause"></span>
                        </button>
                        <button type="button" class="qq-btn qq-upload-continue-selector qq-upload-continue">
                            <span class="qq-btn qq-continue-icon" aria-label="Continue"></span>
                        </button>
                    </div>
                </li>
            </ul>

            <dialog class="qq-alert-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Close</button>
                </div>
            </dialog>

            <dialog class="qq-confirm-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">No</button>
                    <button type="button" class="qq-ok-button-selector">Yes</button>
                </div>
            </dialog>

            <dialog class="qq-prompt-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <input type="text">
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Cancel</button>
                    <button type="button" class="qq-ok-button-selector">Ok</button>
                </div>
            </dialog>
        </div>
    </script>


    <style>
        body      { padding-bottom:80px; word-wrap:break-word; }
        /*#hide { display: none; }*/
        /*.FAW        { display: none; }*/
        /*#stay, #cancel {  position: relative;  width: 20%;  left: 20%;  }*/
        /*#leave, #clear {  position: relative;  width: 20%;  left: 60%;  }*/
        .banner{
            position:relative;
            width:100%;
        }

        #clear{
            background-color: white;
            width: 105px;
            height: 60px;
            border-radius:15px;
            font-size:16px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            color: #31a0ba;
            border-color: #31a0ba;
            margin-left:6px;
        }
        #clear:hover {
            background-color: #31a0ba;
            color: white;
        }
        #submit{
            background-color: #31a0ba;
            width: 700px;
            height: 60px;
            border-radius:15px;
            font-size:16px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            color:white;
        }
        #submit:hover{
            background-color: #ff758f;
            color:white;
        }
        #approve{
            background-color: #31a0ba;
            width: 700px;
            height: 60px;
            margin-top: 10px;
            border-radius:15px;
            font-size:16px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            color:white;
        }
        #approve:hover{
            background-color: #ff758f;
            color:white;
        }
        input[type="text"] {
            height: 60px;
        }
        .selectpicker {
            height: 60px;
        }
        #continent, #country {
            height: 60px;
        }
        .other {
            padding-left: 10px;
            height: 40px;
            margin-top: 10px;
            width: 100%;
            border-radius: 5px;
            border: 1px solid lightgray;
        }

        #reject{
            width: 105px;
            height: 60px;
            background-color: white;
            border-radius:15px;
            font-size:16px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            color: #31a0ba;
            display: inline-block;
            border-color: #31a0ba;
            margin-left: 6px;
        }
        #reject:hover {
            background-color: #31a0ba;
            color: white;
        }
        #reject:disabled {
            color: white;
            border-color: lightgray;
        }
        hr.style3 {
            border: 0;
            height: 1px;
            background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
            background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
            background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
            background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        }
    </style>

</head>
<div class="navul" style="height: 150px;
    background: #000000;">
    <a class="navul" href="//aworldbridge.com" style="background: #000000;
    width: 500px;
    height: 60px;">
        <img class="banner" src="../images/NewWBBanner.jpg" style="width: 950px;
    height: 150px;
    margin: auto; display: block;" />
    </a>
</div>
<body>

<div class="container" style="width: 850px;">
    <h1 class="text-center page-header"><strong>Layer Request Form</strong></h1>
    <h3 class="text-center" style="margin:30px;">Layer Information</h3>
        <div class="generalForm">
            <form class="well form-horizontal" id="layer">
                <fieldset >
                    <div class="form-group">
                        <label class="col-md-4 control-label">Date</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <input id="date" name="Date" class="form-control" required readonly type="text" value="" >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Request ID</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="RID" name="RID" style="background:WhiteSmoke;" readonly class="form-control" required type="text" value="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">User ID</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="User ID" name="UID" style="background:WhiteSmoke;"  readonly class="form-control" required type="text" value="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Main-Category</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon-list"></i></span>
                                <select required id="main" class="selectpicker form-control" name="FirstLayer" onchange="ChangeMainCategory(this.value); Check(this.value);" >
                                    <option value="">SELECT MAIN CATEGORY</option>
                                    <option>CustomLayers_Energy</option>
                                    <option>CustomLayers_Water</option>
                                    <option>CustomLayers_Agriculture</option>
                                    <option>CustomLayers_Transportation</option>
                                    <option>CustomLayers_Economics</option>
                                    <option>CustomLayers_Health_Services</option>
                                    <option>CustomLayers_Risk_Management</option>
                                    <option>CustomLayers_Education</option>
                                    <option>BaseMap</option>
                                    <option>NaturalHazards</option>
                                    <option>OtherFeaturedData</option>
                                    <option>Small-Scale</option>
                                    <option>ThemeOverlayers</option>
                                    <option value="other">Other(Please specify)</option>
                                </select>
                                <div id="other1" style="display:none;">
                                    <input class="other" type="text" name="FirstOther" id="inputone">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Sub-Category</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon-list"></i></span>
                                <select id="sub" class="selectpicker form-control" name="SecondLayer">
                                    <option value="Category">SELECT SUBCATEGORY</option>
                                    <option value="other" id="secondOther">Other(Please specify)</option>
                                </select>
                                <div id="other2" style="display:none;">
                                    <input class="other" type="text" name="SecondOther" id="inputtwo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Layer Display Name</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <input id="LayerNameInput" name="LayerName" value="" placeholder="Layer Name.  NOTE: Do not include spaces." class="form-control" required  type="text" onchange="SearchLayerName(this.value)"></div>
                            <p id="LayerName1" style="color: palevioletred;margin-top:15px;"></p>
                        </div>
                    </div>
                    <div class="form-group" id="adminonly">
                        <label class="col-md-4 control-label">ThirdLayer Name</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <input id="DisplayName" name="ThirdLayer" value="" placeholder="ThirdLayer Name.  NOTE: Do not include spaces." class="form-control" required  type="text" onchange="SearchThirdLayer(this.value)"></div>
                            <p id="LayerName2" style="color:palevioletred; margin-top:15px;"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Layer Continent</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon-globe"></i></span>
                                <!--<input id="LayerContinentInput" name="ContinentName" placeholder="Layer Continent" class="form-control" required value="" type="text"></div>-->
                                <select  id="continent" class="form-control selectpicker" name="ContinentName">
                                    <option value="select">SELECT CONTINENT</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Layer Country</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                                <select  id="country" name="CountryName" class="crs-country form-control" data-region-id="two" data-default-option="SELECT COUNTRY">
                                    <option value="select">SELECT COUNTRY</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Layer State</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                                <input name="StateName" value="" placeholder="State Name" class="form-control" required  type="text" id="LayerStateInput">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Layer Description</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div>
                                <textarea class="form-control" id="message" name="Layer_Description" placeholder="Enter your description here..." required type="text" rows="6" maxlength="400" ></textarea>
                                <p style="color:palevioletred;margin-top:15px;">Please include image resolution, drone altitude, date created and other conditions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Layer Format</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon-list"></i></span>
                                <select required class="selectpicker form-control" name="LayerFormat" id="LayerFormat">
                                    <option value="">SELECT LAYER FORMAT</option>
                                    <option>GeoTIFF - Tagged Image File Format with Geographic information (.tif)</option>
                                    <option>Shapefile - ESRI(tm) Shapefiles (.shp)</option>
                                    <option>JP2ECW - JP2K (.jp2/.j2k)</option>
                                    <option>AIG - Arc/Info Binary Grid (.adf)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Layer Uploader <p>(You can only upload one file)</p> </label>
                        <div class="col-md-8 inputGroupContainer">
                            <div id="uploader"></div>
                        </div>
                    </div>
                    <br>
                    <hr class="style3">
                    <br>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Reject Comments <p>(official use only)</p></label>
                        <div class="col-md-8 inputGroupContainer">
                            <div>
                                <textarea class="form-control" id="comment" name="Comments" disabled type="text" rows="8" maxlength="500" ></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div>
            <button id="submit" form="layer" disabled title="this is only for Regular Users">Submit</button>
            <button id="clear" type="reset" onclick="clearForm()" value="  Clear  ">Clear</button>
            <button id="approve" type="submit" form="layer" disabled  title="this is only for Admin Users">Approve</button>
            <button id="reject" disabled  title="this is only for Admin Users">Reject</button>
        </div>
        <hr>
        <p class="text-center"><a id="cancel" onclick="userHome();">Cancel</a></p>
</div>

<script>
    var UserRole = "<%= user.userrole %>";
    var getvalue = JSON.parse(localStorage.getItem("getvalue"));

    $(document).ready(function() {
        document.getElementById('date').value = getvalue[0];
        document.getElementById('User ID').value = getvalue[1];
        document.getElementById('RID').value = getvalue[2];
        document.getElementById('LayerNameInput').value = getvalue[11];
        document.getElementById('LayerStateInput').value = getvalue[6];
        document.getElementById('LayerFormat').value = getvalue[13];
        document.getElementById('message').value = getvalue[12];
        document.getElementById('continent').options[0].innerHTML = getvalue[4];
        document.getElementById('country').options[0].innerHTML = getvalue[5];
        document.getElementById('DisplayName').value = getvalue[11];
        document.getElementById('comment').value = getvalue[16];

        if(getvalue[7] === "other" || getvalue[9] === "other"){
            document.getElementById('main').value = getvalue[7];
            document.getElementById("other1").style.display = "block";
            document.getElementById("inputone").value = getvalue[8];
            document.getElementById('sub').value = getvalue[9];
            document.getElementById("other2").style.display = "block";
            document.getElementById("inputtwo").value = getvalue[10];
        }else{
            document.getElementById('main').value = getvalue[7];
            document.getElementById('sub').options[0].innerHTML = getvalue[9];
        }

        $(function () {
            if (UserRole === "Admin") {
                document.getElementById("comment").disabled = false;
                document.getElementById("approve").disabled = false;
                document.getElementById("reject").disabled = false;
                document.getElementById("submit").style.backgroundColor = "lightgray";
                document.getElementById("adminonly").style.display = "block";
                document.getElementById("comment").placeholder = "Please describe why you are rejecting the request.";
            } else if (UserRole === "Regular") {
                document.getElementById("comment").disabled = true;
                document.getElementById("submit").disabled = false;
                document.getElementById("adminonly").style.display = "none";
                document.getElementById("approve").style.backgroundColor = "lightgray";
                document.getElementById("reject").style.backgroundColor = "lightgray";
            }

        });

        $("#main").change(function () {
            var val = $(this).val();
            if (val == "") {
                $("#sub").html("<option value='Category'>SELECT SUBCATEGORY</option>");
            }else if(val =="other") {
                $("#sub").html("<option value='other'>Other(Please specify)</option>");
            }
        })

        $("#continent").change(function () {
            var val = $(this).val();
            if (val == "select") {
                $("#country").html("<option value='select'>SELECT SUBCATEGORY</option>");
            }
        })
    });

    function Check(that) {
        if (that === "other") {
            document.getElementById("other1").style.display = "block";
            document.getElementById("other2").style.display = "block";
        } else {
            document.getElementById("other1").style.display = "none";
            document.getElementById("other2").style.display = "none";
        }
    }

    //resubmit the photo
    var photoDiv = $("#photo");
    photoDiv.empty();
    var editIDSr = "editIDSr=" + getvalue[2];
    $.ajax({
        url: 'edit',
        type: 'GET',
        dataType: 'json',
        data: editIDSr,
        success: function (results) {
            if(results[0].Layer_Uploader_name !== "") {
                if (!results.error) {
                    globalResults = results;
                    var list = [];
                    for (var i = 0; i < globalResults.length; i++) {
                        var first = {
                            id: i,
                            size: 561276,
                            thumbnailUrl: globalResults[i].Layer_Uploader,
                            name: globalResults[i].Layer_Uploader_name
                        };
                        list.push(first);
                    }
                    uploader.addInitialFiles(list);
                } else {
                    console.log("didn't work :(");
                }
            }
        }
    });


    var uploader = new qq.FineUploader({
        element: document.getElementById("uploader"),
        // debug: true,
        request: {
            endpoint: 'upload'
        },
        cors: {
            //all requests are expected to be cross-domain requests
            expected: true
        },
        deleteFile: {
            enabled: true, // defaults to false
            endpoint: 'deleteFiles'
        },
        callbacks: {
            onComplete: function (id, name, responseJSON) {
                uploader.setUuid(id, responseJSON.newuuid);
            }
        },
        validation:{
            allowedExtensions: ['tif', 'shp','jp2','adf','j2k']
        }
    });

    function submitForm () {
        if (UserRole === "Admin") {
            if (confirm("Are you sure you would like to approve this data?") === true) {
                var tID = "tID=" + document.getElementById('RID').value;
                var LUN = "LUN=" + getvalue[14];
                var data = $("#layer").serialize();
                $.ajax({
                    url: 'approve',
                    type: "GET",
                    dataType: 'json',
                    data: tID + '&' + LUN,
                });
                $.ajax({
                    url: 'replace',
                    method: "post",
                    data: data,
                    dataType: 'json',
                    success: function (d) {
                    }
                });
                window.location.replace('/userHome');
            } else {
                return false;
            }
        }else if (UserRole === "Regular") {
            if (confirm("Are you sure you would like to submit this data?") === true) {
                var regulardata = $("#layer").serialize();
                var status = "status=" + getvalue[15];
                $.ajax({
                    url: 'rsubmit',
                    method: "post",
                    data: regulardata + "&" + status,
                    dataType: 'json',
                    success: function (d) {
                    }
                });
                window.location.replace('/userHome');
            } else {
                return false;
            }
        }
    }

    function ChangeMainCategory(Category){
        var subList = document.getElementById("sub");
        while (subList.options.length){
            subList.remove(0);
        }
        $.ajax({
            url: "MainCategory",
            dataType: 'json',
            success:function (results) {
                var option;
                for (var i = 0; i < results.length; i++) {
                    if (Category === results[i]. FirstLayer) {
                        option = new Option(results[i].SecondLayer, results[i].SecondLayer);
                        subList.add(option);
                        document.getElementById("sub").disabled = false;
                    }
                }
            }
        })
    }

    function userHome() {
        if (confirm("Are you sure you to leave this page? All the data will be cleared accordingly!") === true) {
            window.location.replace('/userHome')
        }
    }

    function clearForm(){
        if (confirm("Are you sure to clear the form? All the data will be reset accordingly!") === true) {
           $('input,select,textarea').not('[readonly],[disabled],:button').val('');
           $("#main").value = "Category";
            $("#sub").html("<option>SELECT SUBCATEGORY</option>");
            $("#continent").html("<option>SELECT CONTINENT</option>");
            $("#country").html("<option>SELECT COUNTRY</option>");
        }
    }

   // Wait for the DOM to be ready
    $('#layer').validate({
        // Specify validation rules
        rules: {
            // The key name on the left side is the name attribute
            // of an input field. Validation rules are defined
            // on the right side
            Layer_Name: "required",
            StateName:"required",
            CountryName:"required",
            ContinentName:"required",
            FirstLayer:"required",
            SecondLayer:"required",
            Layer_Description: "required",
            LayerFormat:"required"

        },
        // Specify validation error messages
        messages: {
            Layer_Name: "Please enter the layer name.",
            StateName:"Please enter the layer state.",
            CountryName:"Please enter the layer country.",
            ContinentName:"Please enter the layer continent.",
            FirstLayer: "Please select the main category.",
            SecondLayer:"Please select the subcategory.",
            Layer_Description: "Please write the description of the layer.",
            LayerFormat:"Please choose your layer format."
        },

        // Make sure the form is submitted to the destination defined
        // in the "action" attribute of the form when valid
        submitHandler: function (form) {
            submitForm();
        }
    });

    function SearchLayerName(value){
        $.ajax({
            url: "SearchLayerName",
            dataType:"json",
            success: function (results) {
                for(var i = 0; i < results.length; i++) {
                    if (value === results[i].LayerName) {
                        document.getElementById("LayerName1").innerHTML = "The Layer Name has already been used";
                        document.addEventListener("keyup", function (e) {
                            if (event.keyCode === 8) {
                                document.getElementById("LayerName1").innerHTML = "Please enter the layer name. NOTE: Do not include spaces.";
                            }
                        }, false);
                        break;
                    } else{
                        document.getElementById("LayerName1").innerHTML = "This Layer Name is available";
                    }
                }
                if(value.length === 0){
                    document.getElementById("LayerName1").innerHTML = "Please enter the layer name. NOTE: Do not include spaces.";
                }
            }
        })

        //use if to check
        //false replace the <p> to the Layer Name is duplicated
        //ture --> nothing

    }

    function SearchThirdLayer(thisvalue){
        $.ajax({
            url: "SearchThirdLayer",
            dataType:"json",
            success: function (results) {
                for(var i = 0; i < results.length; i++) {
                    if (thisvalue === results[i].ThirdLayer) {
                        document.getElementById("LayerName2").innerHTML = "The ThirdLayer Name has already been used";
                        document.addEventListener("keyup", function (e) {
                            if (event.keyCode === 8) {
                                document.getElementById("LayerName2").innerHTML = "Please enter the ThirdLayer name. NOTE: Do not include spaces.";
                            }
                        }, false);
                        break;
                    } else{
                        document.getElementById("LayerName2").innerHTML = "This ThirdLayer Name is available";
                    }
                }
                if(value.length === 0){
                    document.getElementById("LayerName2").innerHTML = "Please enter the ThirdLayer name. NOTE: Do not include spaces.";
                }
            }
        })
    }

    $("#continent").click(function () {
        new dgContinentsCountries({
            continentVal: document.getElementById("continent").val,
            countryVal: document.getElementById("country").val,
            continent: document.getElementById("continent"),
            country: document.getElementById("country"),
            change: true
        });
    });

    $("#reject").click(function () {
        if (confirm("Are you sure to reject the data?") === true) {
            var tID = "reject=" + document.getElementById('RID').value;
            var Comment = "comment=" + document.getElementById('comment').value;
            $.ajax({
                url: 'reject',
                type: "GET",
                dataType: 'json',
                data: tID + "&" + Comment,
            });
            window.location.replace('/userHome');
        }else {
            return false;
        }
    });
</script>
</body>
</html>