<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>USGS Data Visualization - Login</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!--<link rel="stylesheet" href="//unpkg.com/flatpickr/dist/flatpickr.min.css">-->
    <script src="../scripts/jquery-3.3.1.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/flatpickr"></script>
    <!--<script src="//unpkg.com/flatpickr"></script>-->
    <style>.floating-Box {
            display: inline-block;
        }

        .banner {
            position: relative;
            width: 100%;
            text-align: center;
            display: inline-block;
        }

        .button1 {
            width: 500px;
            height: 50px;
            border-radius: 15px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
            background-color: white;
            color: #f0ad4e;
            border: 1px solid #f0ad4e;
        }

        .button1:hover {
            background-color: #f0ad4e;
            color: white;
        }
    </style>
</head>
<div class="navul" style="height: 150px;
    background: #000000;">
    <a class="navul" href="http://aworldbridge.com" style="background: #000000;
    width: 500px;
    height: 60px;">
        <img class="banner" src="../images/NewWBBanner.jpg" style="width: 950px;
    height: 150px;
    margin: auto; display: block;" />
    </a>
</div>
<body>
<div class="container" style="width: 500px;
    padding: 0px;">
    <h1><span class="fa fa-sign-in"></span> Login</h1>
    <!--show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <!-- LOGIN FORM -->
    <form action="/login" method="post">
        <div class="form-group">
            <label>Username:</label>
            <input type="text" class="form-control" name="username" style="height: 50px;">
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" class="form-control" name="password" style="height: 50px;">
        </div>
        <div class="form-group" hidden>
            <label>Login Time:</label>
            <input type="date" id="date" class="form-control" name="lastLoginTime" readonly>
        </div>
        <div class="form-group" hidden>
            <label>Status:</label>
            <input type="text" id="status" class="form-control" name="status" value="Active" readonly>
        </div>
        <button type="submit" class="button1" style="width: 500px;height: 50px;"> Login </button>
        <div class="form-group" style="margin-bottom: 0px;margin-top: 10px;">
            <label style="font-weight: normal;">
                <input type="checkbox" name="remember" value="yes"> Remember me
            </label>
            <a href="/forgot" style="float: right;">Forgot Password?</a>
        </div>
    </form>
    <hr>
    <!--<p>Need an account? <a href="/signup"> Signup </a></p>-->
    <!--<p>Or go <a href="/">home</a>.</p>-->

    <p class="floating-Box">Don't have an account?<a href="/signup"> Sign Up</a></p>
    <p class="floating-Box" style="float: right">Or go back to <a href="/">Homepage >></a></p>
</div>
<script>
    $(function () {
        flatpickr(".date", {
            dateFormat: "Y-m-d",
            time_24hr: true
        });
    });
    var today = new Date();
    var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
    var time2 = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
    var dateTime = date + ' ' + time2;
    document.getElementById("date").value = dateTime;
</script>
</body>
</html>
