<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>FAW/Locust - Login</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/flatpickr"></script>
    <style>
        body{ padding-top:80px; word-wrap:break-word; }
        .banner{
            /*position:relative;*/
            width:50%;
            text-align:center;
            display:block;
            margin-left:auto;
            margin-right:auto;
        }
        .container-login100-form-btn {
            width: 100%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .login100-form-btn {
            font-size: 16px;
            color: #555555;
            line-height: 1.2;

            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
            min-width: 120px;
            height: 50px;
            border-radius: 25px;

            background: #9152f8;
            background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
            background: -o-linear-gradient(bottom, #7579ff, #b224ef);
            background: -moz-linear-gradient(bottom, #7579ff, #b224ef);
            background: linear-gradient(bottom, #7579ff, #b224ef);
            position: relative;
            z-index: 1;

            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
        }

        .login100-form-btn::before {
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            border-radius: 25px;
            background-color: #fff;
            top: 0;
            left: 0;
            opacity: 1;
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
        }

        .login100-form-btn:hover {
            color: #fff;
        }

        .login100-form-btn:hover:before {
            opacity: 0;
        }
        #loginhelp{
            margin-top:20px;
            text-align:center;
            margin-bottom:20px;
        }
        .input-checkbox100 {
            display: none;
        }

        .label-checkbox100 {
            font-size: 13px;
            color: black;
            line-height: 1.4;

            display: block;
            position: relative;
            padding-left: 26px;
            cursor: pointer;
        }

        .label-checkbox100::before {
            content: "\f00c";
            font-size: 13px;
            color: transparent;
            font-family: FontAwesome;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 18px;
            height: 18px;
            border-radius: 2px;
            background: #fff;
            border: 1px solid black;
            left: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .input-checkbox100:checked + .label-checkbox100::before {
            color: #57b846;
        }
        #back{
            margin-top:100px;
            text-align:center;
        }
        .layerpreview {
            font-size: 16px;
            color: white;
            line-height: 1.2;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
            min-width: 120px;
            height: 50px;
            border-radius: 25px;
            background: #9152f8;
            background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
            background: -o-linear-gradient(bottom, #7579ff, #b224ef);
            background: -moz-linear-gradient(bottom, #7579ff, #b224ef);
            background: linear-gradient(bottom, #7579ff, #b224ef);
            position: relative;
            z-index: 1;
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
        }
        .layerpreview:hover{
            color: #fff;
        }
        .layerpreview:hover:before{
            opacity: 0;
        }

    </style>

</head>
<body>
    <div class="container">
            <a href="http://aworldbridge.com"><img class="banner" src="../images/NewWBBanner.jpg"/></a>
    </div>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3 ">
            <h2><span class="fa fa-sign-in"></span> Login</h2>

            <!-- LOGIN FORM -->
            <form action="/login" method="post">
                <div class="form-group">
                    <label>Username (email address)</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="flex-sb-m w-full p-b-48">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me" value="yes">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>
                </div>

                <div class="form-group" hidden>
                    <label>Login Time</label><input type="date" id="date" class="form-control" name="lastLoginTime" readonly>

                </div>
                <div class="form-group" hidden>
                    <label>Status</label>
                    <input type="text" id="status" class="form-control" name="status" value="Active" readonly >
                </div>
                <br>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Login
                    </button>
                </div>
                <!--<button type="submit" class="btn btn-warning btn-lg"> Login </button>-->
            </form>

            <!--<p>Need an account? <a href="/signup"> Signup </a></p>-->
            <!--<p>Or go <a href="/">bak</a>.</p>-->
            <div id="loginhelp">
                <a href="/signup">Register</a> • <a href="/forgot">Forgot Password</a>
            </div>
            <div id="back" class="container-login100-form-btn">
                <a href="/" class="layerpreview">
                    &#10094; Home Page
                </a>
            </div>
        </div>
    </div>
    <script>
            $(function () {
                flatpickr(".date", {
                    dateFormat: "Y-m-d",
                    time_24hr: true
                });
            });
            var today = new Date();
            var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
            var time2 = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
            var dateTime = date + ' ' + time2;
            document.getElementById("date").value = dateTime;

            if (status === "Never Logged In") {

            } else if (status === "Regular") {


            }
</script>
</body>
</html>
