<!-- views/profileBK.ejs -->
<!doctype html>
<html>
<head>
    <title>FAW/Locust Project - Reset Password</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/Profile.css" type="text/css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!--<link rel="stylesheet" href="//unpkg.com/flatpickr/dist/flatpickr.min.css">-->
    <link rel="stylesheet" href="../css/Title.css" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<script src="//unpkg.com/flatpickr"></script>-->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/flatpickr"></script>
    <style>.banner {
            position: relative;
            left: 60px;
            top: -35px;
            width: 80%;
        }

        body {
            padding-top: 80px;
            word-wrap: break-word;
        }

        .container1 {
            margin-left: 100px;
        }

        @media screen and (max-width: 320px){
            strong {
                margin-left: -100px;
            }

            h5 {
                margin-left: -100px;
            }

            input {
                width: 38%;
            }
        }
        @media  screen and (min-width:330px) and (max-width: 375px){
            strong {
                margin-left: -100px;
            }

            h5 {
                margin-left: -100px;
            }

            input {
                width: 47%;
            }
        }
        @media  screen and (min-width:380px) and (max-width: 414px){
            strong {
                margin-left: -100px;
            }

            h5 {
                margin-left: -100px;
            }
        }

    </style>
</head>
<body>
<div class="container">
    <a href="//aworldbridge.com">
        <img class="banner" src="/pic/NewWBBanner.jpg" />
    </a>
    <ul id="userMenu" class="dropdown-menu dropdown-menu-right">
    </ul>
    <div class="container1">
        <br>
        <br>
        <form id="submit" onsubmit="return checkForm()" action="" method="post">
            <br>
            <h4><strong>Password Change</strong>:   </h4>
            <div>
                <h5>New Password: <input type="password" id="newpassword" name="newpassword" maxlength="2000px" style="margin-left:74px;"> </h5>
            </div>
            <div>
                <h5>Confirm New Password: <input type="password" id="Confirmpassword" name="Confirmpassword" maxlength="2000px" style="margin-left:19px;"> </h5>
            </div>
            <div>
                <h5>Username (email): <input type="email" name="username" maxlength="2000px" style="margin-left:54px;"> </h5>
            </div>
            <button id="SS" type="submit" class="btn btn-warning btn-sm"> Submit </button>
            <a href="/login" class="btn btn-warning btn-sm">Cancel</a>
        </form>
    </div>
</div>
<script>

    function checkForm() {
        var newP=document.getElementById("newpassword").value;
        var confirmP =document.getElementById("Confirmpassword").value;

        if (newP === confirmP) {
            return true;
        } else {
            alert("New passwords don't match!");
            return false;
        }
    }

    $('#SS').submit(function(e) {
        // Prevent form submission
        e.preventDefault();

        $.ajax({
            type: "post",
            url: "/reset/:token",
            dataType: 'json',
            data: $(this).serialize(),
            success: function (result) {
                if (!result.error) {
                    alert("SUCCESS");
                    window.location.replace('/login')
                } else {
                    alert(result.message);
                }
            }
        })
    });
</script>
</body>
</html>