<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>USGS Data Visualization - Data Management - Edit User</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/style_final.css" type="text/css">
    <link rel="stylesheet" href="../css/multi-select.css" media="screen" type="text/css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


    <!--<link rel="stylesheet" href="//unpkg.com/flatpickr/dist/flatpickr.min.css">-->
    <script src="../scripts/jquery-3.3.1.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <!--<script src="//unpkg.com/flatpickr"></script>-->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="../src/jquery.multi-select.js"></script>

    <style>
        table, th{
            border: 1px solid black;
            text-align:center;
        }
        body { padding-bottom:80px; word-wrap:break-word; }
        .btn{
            font-size:18px;
            text-align:center;
            width:80px;
            padding:5px 5px;
        }
        .button1 {
            width: 500px;
            height: 50px;
            border-radius: 15px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
            background-color: white;
            color: #f0ad4e;
            border: 1px solid #f0ad4e;
        }
        .button1:hover {
            background-color: #f0ad4e;
            color: white;
        }
        #checkit{
            width: 70px;
            height: 30px;
            border-radius:15px;
            font-size:13px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            color:white;
        }
    </style>

</head>
<body>
<div class="container" style="width: 750px;">
    <div class="container" style="width: 500px;padding: 0px;">
        <h1><span class="fa fa-sign-in"></span> Edit User</h1>
        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger">
            <%= message %>
        </div>
        <% } %>
        <form id="editForm" action="/editUser" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" class="form-control" name="Username" value="<%= user.userName %>" readonly style="height: 50px;">
            </div>
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" class="form-control" name="First_Name" style="height: 50px;">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" class="form-control" name="Last_Name" style="height: 50px;">
            </div>
            <div class="form-group">
                <label>User Role:</label>
                <br>
                <select id="UsErRoLe" name="User_Role" class="form-control" style="height: 50px;">
                    <option class="admin" value="Admin">Admin</option>
                    <option class="regular" value="Regular">Regular</option>
                </select>
            </div>
            <div class="form-group">
                <label>Status:</label>
                <select id="StAtUs" name="Status" class="form-control" style="height: 50px;">
                    <option class="active" value="Active">Active</option>
                    <option class="suspended" value="Suspended">Suspended</option>
                    <option class="never_logged_in" value="Never Logged In">Never Logged In</option>
                </select>
            </div>
        </form>
            <p style="font-size:15px">
                <label for="password" >Do you want to change your password?</label>
                <input type="checkbox" id="password" name="password" onclick="myFunction()">
            </p>
            <div class="generalForm">
                <form id="pswchange" style="display:none;" class="well form-horizontal">
                        <div>
                            <label style="font-size:18px;">Password Change</label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Current Password</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span><input id="currentPassword" name="CurrentPassword" class="form-control"  value="" type="password"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">New Password</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span><input id="newPassword" name="newpassword" class="form-control" value="" type="password"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Confirm New Password</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span><input id="ConfirmPassword" name="ConfirmNewPassword" class="form-control"  value="" type="password"></div>
                            </div>
                        </div>
                </form>
                <button id="checkit" class="btn-primary" style="display:none; margin-top:-57px; margin-left: 410px;" onclick="checkForm()">Check</button>
            </div>
            <br>
            <button type="submit" class="button1" onclick="submitForm();"> Update </button>
            <hr>
            <a href="/userManagement" style="margin-left: 230px;">Cancel</a>

    </div>
</div>
<script>
    <!--var username = "<%= user.username %>";-->

    var getvalue = JSON.parse(localStorage.getItem("getvalue"));
    document.getElementById('username').value = getvalue[0];
    document.getElementById('firstName').value = getvalue[1];
    document.getElementById('lastName').value = getvalue[2];
    document.getElementById('UsErRoLe').value = getvalue[3];
    document.getElementById('StAtUs').value = getvalue[12];

    var password = $("#password");
    var initial = password.is(":checked");
    var change = $("#password_change")[initial ? "removeClass" : "addClass"]("gray");
    var changeInputs = change.find("input").attr("disabled", !initial);

    password.click(function(){
        change[this.checked ? "removeClass" : "addClass"]("gray")
        changeInputs.attr("disabled", !this.checked);
    });

    function myFunction(){
        var checkbox = document.getElementById("password");
        var text = document.getElementById("pswchange");
        if (checkbox.checked === true){
            text.style.display = "block";
            document.getElementById("checkit").style.display = "block";
            document.getElementById("checkit").style.backgroundColor =  "#4183c4";
        } else{
            text.style.display = "none";
            document.getElementById("checkit").style.display = "none";
            document.getElementById("checkit").style.backgroundColor =  "lightgray";
        }
        // document.getElementById("submit").style.marginTop = "30px";
    }

    function checkForm() {
        let password = "pass=" + document.getElementById("currentPassword").value;
        let oldP = document.getElementById("currentPassword").value;
        var newP = document.getElementById("newPassword").value;
        var confirmP = document.getElementById("ConfirmPassword").value;
        $.ajax({
            url  : '/checkpassword',
            method : "POST",
            data : password,
            dataType: 'json',
            success : function(d){
                if (d === true) {
                    alert("Please make sure you typed your current password correctly.");
                }else if(d === false){
                    if (oldP !== "" && confirmP !== "" && newP !== "") {
                        if (oldP !== newP) {
                            if (newP === confirmP) {
                                alert("You can submit now!");
                            } else {
                                alert("New password do not match!");
                            }
                        } else {
                            alert("Please make sure your new password is different from old one.");
                        }
                    } else {
                        alert("All password fields are required.");
                    }
                }
            }
        });
    }

    function submitForm () {
            var data = $("#editForm").serialize() + "&" + $("#pswchange").serialize();

            $.ajax({
                url  : '/edituserform',
                method : "POST",
                data : data,
                dataType: 'json',
                success : function(d){
                    if (d.error) {
                        alert(d.message);
                    } else {
                        alert("Changes were updated!");
                        window.location.replace('/userManagement');
                    }
                }
            });

            // e.preventDefault();
            // $.ajax({
            //     type: "POST",
            //     dataType: 'json',
            //     url: $(this).attr('action'),
            //     data: $(this).serialize(),
            //     success: function (res) {
            //         console.log(res);
            //         if (!res.error) {
            //             window.location.replace(res.message)
            //         } else {
            //             confirm("Are you sure you want to make these changes?");
            //             window.location.replace('/userManagement')
            //         }
            //     }
            // });
            //
            // return false;
        }


</script>
</body>
</html>
