<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>FAW/Locust - User Management</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="//unpkg.com/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!--<link rel="stylesheet" href="//unpkg.com/flatpickr/dist/flatpickr.min.css">-->
    <link rel="stylesheet" href="../css/Title.css" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/flatpickr"></script>
    <!--<script src="//unpkg.com/flatpickr"></script>-->

    <style>
        body 		{ padding-top:80px; word-wrap:break-word; }


        form{
            margin: 20px 0;
        }
        form input, button{
            padding: 5px;
        }

        .selected {
            background-color: brown;
            color: #FFF;
        }
        #userListForm {
            margin: 0 10% 0 10%;
        }
        #dvData {
            /*overflow-x: auto;*/
            width: 82%;
            margin-left:110px;
        }
        .banner{
            position:relative;
            width: 100%;
        }
        .floating-Box{
            display: inline;
        }
        .floatingBox {
            display: inline-block;
            /*width:350px;*/
        }
        .button{
            width:8%;
        }
        table{
            overflow-x: auto;
            width: 100%;
            display: block;
            margin-bottom: 20px;
            border-collapse: collapse;
        }
        table, th, td{
            border: 1px solid #cdcdcd;
            text-align:center;
        }
        table th, table td{
            padding: 10px;
            text-align: left;
        }
        table::-webkit-scrollbar-thumb {
            border-radius: 2px;
            background-color: rgba(0, 0, 0, .5);
            -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
        }
        table::-webkit-scrollbar {
            -webkit-appearance: none;
            height: 7px;
        }
        @media  screen and (max-width: 320px){
            h1 {
                font-size: 25px;
            }

            .inputBoxDate {
                font-size: 9px;
                width: 21%;
                margin-left: -10px;
            }

            #dvData {
                width: 82%;
                margin-left: 10px;
            }

            .btn {
                font-size: 14px;
                padding: 5px 12px;
            }

            #firstName {
                font-size: 9px;
                width: 28%;
            }

            #lastName {
                font-size: 9px;
                width: 28%;
            }

            h4 {
                font-size: 13.5px;
                margin-left: -10px;
            }

            h6 {
                margin-left: -19px;
            }

            .DateModified1 {
                margin-left: -65px;
            }

            .DateModified2 {
                margin-left: -19px;
            }

            .DateModified3 {
                margin-left: -12px;
            }

            .click {
                margin-left: -12px;
                font-size: 13px;
            }

            #Role {
                margin-right: 1px;
            }
        }

        @media  screen and (min-width:330px) and (max-width: 375px){
            h1 {
                font-size: 31px;
            }

            h4 {
                font-size: 15px;
                margin-left: -10px;
            }

            .inputBoxDate {
                font-size: 12px;
                width: 23%;
                margin-left: -10px;
            }

            #dvData {
                width: 82%;
                margin-left: 10px;
            }

            #firstName {
                font-size: 13px;
                width: 36%;
            }

            #lastName {
                font-size: 13px;
                width: 36%;
            }

            h6 {
                margin-left: -19px;
            }

            .DateModified1 {
                margin-left: -64px;
            }

            .DateModified2 {
                margin-left: -21px;
            }

            .DateModified3 {
                margin-left: -11px;
            }

            .click {
                font-size: 14px;
            }
            #Role {
                margin-right: 1px;
            }
        }

        @media  screen and (min-width:380px) and (max-width: 414px){
            h1 {
                font-size: 34px;
            }

            h4 {
                margin-left: -20px;
            }

            h6 {
                margin-left: -19px;
            }

            .inputBoxDate {
                width: 25%;
                margin-left: -10px;
            }

            #dvData {
                width: 82%;
                margin-left: 7px;
            }

            #firstName {
                width: 35%;
            }

            #lastName {
                width: 35%;
            }

            .DateModified1 {
                margin-left: -74px;
            }

            .DateModified2 {
                margin-left: -20px;
            }

            .DateModified3 {
                margin-left: -14px;
            }

            #Role {
                margin-right: 19px;
            }
        }

        @media screen and (min-width:420px) and (max-width: 768px){
            .inputBoxDate {
                width: 25%;
            }

            #dvData {
                width: 82%;
                margin-left: 60px;
            }

            #firstName {
                width: 19%;
                font-size:11px;
            }

            #lastName {
                width: 19%;
                font-size:11px;
            }

            .DateModified1 {
                margin-left: -2px;
            }

            .DateModified2 {
                margin-left: -10px;
            }

            .DateModified3 {
                margin-left: -5px;
            }

            #Role {
                margin-left: -82px;
            }
        }
        @media screen and (min-width:500px) and (max-width: 700px){
            .inputBoxDate{
                width:20%
            }
        }
        @media  screen and (min-width:768px) and (max-width: 1024px){
            .inputBoxDate {
                font-size:13px

            }
            #firstName {
                font-size:13px;

            }

            #lastName {
                font-size:13px;
            }

            .DateModified1 {
                margin-left: -10px;
            }

            .DateModified2 {
                margin-left: -15px;
            }

            .DateModified3 {
                margin-left: -7px;
            }

            #Role {
                margin-left: -42px;
            }

            h6 {
                margin-left: -15px;
            }
        }
        @media  screen and (min-width:1024px) and (max-width: 1920px) {
            #firstName {
                font-size: 12px;
                width:13%;
            }

            #lastName {
                font-size: 12px;
                width:13%;
            }
            .inputBoxDate {
                width: 10%;
            }
            #Phone_Number{
                font-size: 12px;
                width:13%;
            }
        }

    </style>

</head>
<body>
<div class="container center">
    <a href="//aworldbridge.com">
        <img class="banner" src="/pic/NewWBBanner.jpg"/>
    </a>
</div>
<br>
<br>
<div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span> User Management </h1>
    <h4><span class="fa fa-user"></span>&nbsp;<strong>Account Name</strong>:  <%= user.username %> </h4>
    <br>
    <a href="/userhome" class="btn btn-default btn-lg userhome">User Home</a>&nbsp;&nbsp;
    <a href="/addUser" class="btn btn-default btn-lg adduser">Add User</a>&nbsp;&nbsp;
    <div class="dropdown floating-Box">
        <button class="btn btn-primary btn-lg" type="button" data-toggle="dropdown" id="Username">
            <%= firstName%>
            <span class="caret"></span>
        </button>
        <ul id="userMenu" class="dropdown-menu">
        </ul>
    </div>
</div>
<!--<a href="/newEntry" class="btn btn-default btn-lg" id="class1">New Entry</a>-->
<!--<a href="/query" class="btn btn-default btn-lg" id="class2">Data History</a>-->
<div class="container">
    <div id="userListForm">
        <div class="row">
            <h4 class="floatingBox"><strong>Date Created:</strong></h4>&nbsp;&nbsp;&nbsp;&nbsp;
            <h6 class="floatingBox">From:</h6>&nbsp;
            <input class="inputBoxDate datePicker date" type="text" id="dateCreated" placeholder="Select Date">&nbsp;&nbsp;
            <h6 class="floatingBox">To:</h6>&nbsp;
            <input class="inputBoxDate datePicker date" type="text" id="dateCreated" placeholder="Select Date">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h4 class="floatingBox DateModified1"><strong>Date Modified:</strong></h4>&nbsp;&nbsp;
            <h6 class="floatingBox DateModified2">From:</h6>&nbsp;
            <input class="inputBoxDate datePicker date DateModified3" type="text" id="dateModified" placeholder="Select Date">&nbsp;&nbsp;
            <h6 class="floatingBox DateModified2">To:</h6>&nbsp;
            <input class="inputBoxDate datePicker date DateModified3" type="text" id="dateModified" placeholder="Select Date">
        </div>
        <br>
        <div class="row">
            <h4 class="floatingBox"><strong>User:</strong></h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h6 class="floatingBox">First Name:</h6>&nbsp;&nbsp;&nbsp;
            <input class="inputBoxDate" type="text" id="firstName" placeholder="Enter First Name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h6 id="123" class="floatingBox">Last Name:</h6>&nbsp;&nbsp;&nbsp;
            <input class="inputBoxDate" type="text" id="lastName" placeholder="Enter Last Name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h6 class="floatingBox">Phone Number:</h6>&nbsp;&nbsp;&nbsp;
            <input class="inputBoxDate" id="Phone_Number" type="text" placeholder="Enter Phone Number">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br><br>
            <div class="center">
                <h4 class="floatingBox"><strong>Status:&nbsp;</strong></h4>
                <select id="status">
                    <option value="">Select the status</option>
                    <option value="Active">Active</option>
                    <option value="Never Logged In">Never Logged In</option>
                    <option value="Suspended">Suspended</option>
                </select>
            </div>
            <br>
            <h4 class="floatingBox" id="Role"><strong>User Role:</strong></h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="userrole" id="Regular" value="Regular">
            <h5 class="floatingBox click">&nbsp;&nbsp;&nbsp;Regular</h5>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="userrole" id="Admin" value="Admin">
            <h5 class="floatingBox click">&nbsp;&nbsp;&nbsp;Admin</h5>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <br>
        <input type="submit" onclick="query()" id="Filter" class="btn btn-default" style="color: #ffffff; background-color: #a7cb9f" value="Filter">
        <button id="editUserButton" class="btn delete-row btn-default">Edit User</button>
        <button id="suspendUserButton" class="btn btn-default">Suspend User(s)</button>
        <br>
    </div>
    <br>
    <h4 style="margin-left:80px;"><strong>Most Recent Records:</strong></h4>

    <div id="dvData">

        <table id="dataDisplay" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>User Role</th>
                <th>Phone Number</th>
                <th>Country</th>
                <th>State Province Region</th>
                <th>City</th>
                <th>Date Created</th>
                <th>Modified User</th>
                <th>Date Modified</th>
                <th>Last Login Time</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
            <tr>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>User Role</th>
                <th>Phone Number</th>
                <th>Country</th>
                <th>State Province Region</th>
                <th>City</th>
                <th>Date Created</th>
                <th>Modified User</th>
                <th>Date Modified</th>
                <th>Last Login Time</th>
                <th>Status</th>
            </tr>
            </tfoot>
        </table>
    </div>

    <script type="text/javascript">

        var rowSelected, thArray, DropMenu, queryString1, queryString2;
        var table = $('#dataDisplay').DataTable({ "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]]});
        var querystr = "";
        var userrole = "";
        var UserRol = "<%= user.userrole %>";
        var rowUserName = [];

        $(document).ready(function() {
            $(function () {
                queryAndDisplay();

                flatpickr(".date", {
                    dateFormat: "Y-m-d",
                    time_24hr: true
                });

                if (UserRol === "Admin") {
                    DropMenu = "<li><a href=\"/userprofile\">Profile</a></li>\n" +
                        "\t\t\t<li><a href=\"/userManagement\">User Management</a></li>\n" +
                        "\t\t\t<li><a href=\"/signout\">Sign Out</a></li>";
                    $("#userMenu").empty();
                    $("#userMenu").append(DropMenu)
                } else if (UserRol === "Regular") {
                    DropMenu = "<li><a href=\"/userprofile\">Profile</a></li>\n" +
                        "\t\t\t<li><a href=\"/signout\">Sign Out</a></li>";
                    $("#userMenu").empty();
                    $("#userMenu").append(DropMenu)
                }
            });

            $('#dataDisplay tbody').on('click', 'tr', function () {
                thArray = [];
                rowUserName = [];

                $(this).toggleClass('selected');    //toggle class for the rows selected

                rowSelected = table.rows('.selected').data();    //Store all the data for selected rows'

                $('#dataDisplay > thead > tr > th').each(function () {
                    thArray.push($(this).text())
                })

                for (var i = 0; i < rowSelected.length; i ++) {
//                    console.log("rowSelected[" + i + "][2]: " + rowSelected[i][2]);
                    rowUserName.push(rowSelected[i][0]);
                }
            });


            $("#editUserButton").on("click", function () {
                if (rowSelected.length >= 2) {
                    confirm("Please make sure to only select ONE of the users to edit.")
                } else if (rowSelected.length === 0) {
                    confirm("No rows have been selected---- please choose ONE.")
                } else {
                    var getvalue = table.rows('.selected').data();
                    // console.log(getvalue);
                    localStorage.setItem("getvalue",JSON.stringify(getvalue[0]));
                    // alert(getvalue[i][0]);
                    // alert(getvalue[i][4]);
                    window.location.replace('/editUser')
                }
            });

            $("#suspendUserButton").on("click", function () {
                if (confirm("Are you sure you would like to suspend the user(s)?")) {

                    var usernameStr = "usernameStr=" + rowUserName.toString();
                   console.log("usernameStr: " + usernameStr);

                    $.ajax({
                        url: '/suspendUser',
                        type: 'GET',
                        dataType: 'json',
                        async: false,
                        data: usernameStr,
                        success: function (result) {
                            console.log(result);
                            if (!result.error) {
                                window.location.reload()
                            } else {
                                alert(result.message);
                            }
                        }
                    })
                } else { return false;}
            });
        });

        function query() {
            var dateCreatedFrom = document.getElementsByClassName("datePicker")[0].value;
            var dateCreatedTo = document.getElementsByClassName("datePicker")[1].value;
            var dateModifiedFrom = document.getElementsByClassName("datePicker")[2].value;
            var dateModifiedTo = document.getElementsByClassName("datePicker")[3].value;
            var firstName = document.getElementById("firstName").value;
            var lastName = document.getElementById("lastName").value;
            var Phone_Number = document.getElementById("Phone_Number").value;
            var status = document.getElementById("status").value;

            if ($("input[name='userrole']").is(":checked")) {
                userrole = $("input[name='userrole']:checked").val();
            } else {
                userrole = "";
            }

            queryString1 = "dateCreatedFrom=" + dateCreatedFrom + "&dateCreatedTo=" + dateCreatedTo + "&dateModifiedFrom=" + dateModifiedFrom + "&dateModifiedTo=" + dateModifiedTo + "&userrole=" + userrole;
            queryString2 = "&firstName=" + firstName + "&lastName=" + lastName + "&Phone_Number=" + Phone_Number + "&status=" + status;


            querystr = queryString1 + queryString2;
            // alert(querystr);

            if (dateCreatedFrom || dateCreatedTo || dateModifiedFrom || dateModifiedTo || firstName || lastName || Phone_Number || status || userrole) {
                table.clear();
                queryAndDisplay(querystr);
            } else {
                queryAndDisplay(querystr);
            }
        }

        var queryAndDisplay = function (querystr) {
            // alert(querystr);
//            console.log("querystr: " + querystr);

            $.ajax({
                url: '/filterUser',
                type: 'GET',
                dataType: 'json',
                async: false,
                data: querystr,
                success: function (resp) {
                    console.log(resp)
                    for (var i = 0; i < resp.length; i++) {
                        table.row.add( [
                            resp[i].username,
                            resp[i].firstName,
                            resp[i].lastName,
                            resp[i].userrole,
                            resp[i].Phone_Number,
                            resp[i].Country,
                            resp[i].State_Province_Region,
                            resp[i].City,
                            resp[i].dateCreated,
                            resp[i].modifiedUser,
                            resp[i].dateModified,
                            resp[i].lastLoginTime,
                            resp[i].status
                        ] ).draw( false );
                    }
                }

            });
        }


    </script>
</div>
</body>
</html>
