<!DOCTYPE html>
<html lang="en">
<head>
    <!--NOTE: Most Web WorldWind bak use jquery, Bootstrap and requirejs but those technologies are NOT-->
    <!--required by Web WorldWind. See SimplestExample.html for an example of using Web WorldWind without them.-->
    <meta charset="utf-8"/>
    <title>USGS Data Visualization - MapService Viewer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,900' rel='stylesheet' type='text/css'>

    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">-->
    <link href="//www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/menu.css"/>
    <script src="../scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script data-main="../scripts/LayerMenu" src="../scripts/require-2.3.5.min.js"></script>
    <!--<script src="../scripts/LayerMenu.js"></script>-->
    <style>
        body {padding-bottom: 80px}

        .note {
            color: #959595;
        }

        .button1 {
            width: 300px;
            height: 70px;
            border-radius: 30px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
            background-color: white;
            color: #337ab7;
            border: 1px solid #337ab7;
            font-size: 18px;
            margin-left: 25px;
        }

        .button1:hover {
            background-color: #337ab7;
            color: white;
        }

        .box1 {
            margin-left: 50px;
            position: absolute;
            width: 380px;
            height: 910px;
            box-shadow: 9px 4px 10px 0 rgba(0, 0, 0, 0.21), -4px 6px 18px 0 rgba(0, 0, 0, 0.17);
        }

        #accordion::-webkit-scrollbar-thumb {
            border-radius: 2px;
            background-color: rgba(0, 0, 0, .5);
            -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
        }

        #accordion::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
        }

        #accordion::-webkit-scrollbar-corner  {
            display: block;
        }

        .previous {
            background-color: #0fbad6;
            color: white;
        }

        .next {
            background-color: #0fbad6;
            color: white;
        }

        .arrow {
            border-radius: 50%;
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
        }

        #openedLayer{
            background-color: #66ccff;
            color:white;
            border-radius: 10px;
            font-family: 'Lato';
            font-size: 15px;
            font-weight: 500;
        }

        #globeOrigin{
            font-size:20px;
            border:none;
            color:#007ab3;
        }
    </style>

</head>
<div class="navul" style="height: 150px;
    background: #000000;">
    <a class="navul" href="http://aworldbridge.com" style="background: #000000;
    width: 500px;
    height: 60px;">
        <img class="banner" src="../images/NewWBBanner.jpg" style="width: 950px;
    height: 150px;
    margin: auto; display: block;" />
    </a>
</div>
<body>
<div class="container" style="width: 1550px;">
    <div class="container" style="width: 850px;">
        <div class="page-header text-center header">
            <h1><span class="fa fa-globe"></span> USGS Data Visualization - MapService Viewer </h1>
            <a href="/" id="homepage">
                <button class="button1">Go back to Homepage &nbsp;&nbsp;>>  </button>
            </a>
            <br>
        </div>
    </div>
    <div class="container" style="width: 100%; height: 1000px; overflow: hidden">
        <!--<div class="row">-->
        <div class="box1 floating-Box">
            <div style="padding-top: 20px;">
                <div style="margin-left: 15px">
                    <h4><strong>Select Location:</strong></h4>
                <h5 class="note"> NOTE: Default is set to ALL LAYERS. Select the continent, country, and state/city. </h5>
                <div>
                    <p>
                        <select id="myListContinent"  style="width:320px; height:50px; background:white; padding-left: 15px" onchange="ChangeSelectList(this.value)">
                            <option selected="selected" value="AL">All Layers</option>
                            <!--<option>United States of America</option>-->
                            <!--<option value="AL" selected="selected" class="a">All Layer</option>-->
                        </select>
                    </p>
                </div>
                <div>
                    <p>
                        <select id="myListCountry"  style="width:320px; height:50px; background:lightgray; padding-left: 15px" onchange="ChangeStateList(this.value)" disabled>
                            <option selected="selected" value="AL">All Layers</option>
                            <!--<option>-Select a State-</option>-->
                        </select>
                    </p>
                </div>
                <div>
                    <p>
                        <select id="myListState"  style="width:320px; height:50px; background:lightgray; padding-left: 15px" onchange="ChangeLayerList(this.value)" disabled>
                            <option selected="selected" value="AL">All Layers</option>
                        </select>
                    </p>
                </div>
                </div>
            <br>
            <div style="margin-left: 15px;">
                <h4><strong>Layer Menu*:</strong></h4>
                <h5 class="note">*TBD stands for "To Be Developed"</h5>
                <h5 class="note" style="width:320px;"> NOTE: Some layers may take a while to load, please be patient. Selecting a layer will direct the globe to its location.</h5>
                <div style="margin-bottom:10px;">
                    <button id="globeOrigin"><i class="fa fa-globe"></i></button>
                    <h5 style="display:inline-block;color:#0077b3;"> &#8668; Click me to back to start position!</h5>
                </div>
                <div style="margin-bottom:10px;">
                    <button class="previous arrow" id="previousL">&#8249;</button>
                    <input id = "openedLayer" type="button">
                    <button class="next arrow" id ="nextL">&#8250;</button>
                </div>
                <div class="panel-group" id="accordion" style="width: 340px; height: 380px; overflow: scroll"></div>
            </div><!-- /.panel-group -->
            </div>
        </div>
        <div class="container floating-Box" id="globe" style="width: 1000px;
    height: 1000px;
    margin-left: 475px;
    padding: 0px;">
            <canvas id="canvasOne" width="1000" height="1000" style="width: 1000px; height: 1000px;">
                Your browser does not support HTML5 Canvas.
            </canvas>
        </div>
    </div>
</div>
</body>
<script>


    $(document).ready(function() {

        var parentmenu = document.getElementById("accordion");

        function unpack(rows, key) {
            return rows.map(function(row) { return row[key]; })
        }

        $.ajax({
            type: "GET",
            url: "createlayer",
            dataType: "json",
            success: function (res) {
                var firstlayer = [];
                var secondlayer = [];
                var thirdlayer = [];
                var layervalue =[];
                var comparing = [];
                var comparing3 = [];
                var classname = [];
                var removefirstlayer = unpack(res, 'FirstLayer');
                var removesecondlayer = unpack(res, 'SecondLayer');
                var removethirdlayer = unpack(res,"ThirdLayer");
                var Layerinfo = unpack(res,"LayerName");

                $.each(removefirstlayer, function (index, value) {
                    if($.inArray(value, firstlayer) === -1) firstlayer.push(value);
                });
                $.each(removesecondlayer, function (index, value) {
                    if($.inArray(value, secondlayer) === -1) secondlayer.push(value);
                });
                $.each(removethirdlayer, function (index, value) {
                    if($.inArray(value, thirdlayer) === -1) thirdlayer.push(value);
                });
                $.each(Layerinfo, function (index, value) {
                    layervalue.push(value);
                });

                if(comparing.length === 0){
                    comparing.push(["firstlayer","secondlayer"]);
                }
                if(comparing3.length === 0){
                    comparing3.push(["thirdlayer","layermenu"]);
                }
                if(classname.length === 0){
                    classname.push("classname");
                }

                var createfirstlayer = function() {


                    $.each(firstlayer, function (i) {

                        var paneldefault1 = document.createElement("div");
                        paneldefault1.className = "Menu panel panel-info " + firstlayer[i] ;
                        // paneldefault1.id = firstlayer[i];
                        var panelheading1 = document.createElement("div");
                        panelheading1.className = "panel-heading";
                        var paneltitle1 = document.createElement("h4");
                        paneltitle1.className = "panel-title";
                        var collapsed1 = document.createElement("a");
                        collapsed1.className = "collapsed";
                        collapsed1.setAttribute("data-toggle", "collapse");
                        collapsed1.setAttribute("data-parent", "#accordion");
                        // collapsed1.href = "#collapse" + i;
                        collapsed1.href = "#" + firstlayer[i];
                        var firstlayername = document.createTextNode(firstlayer[i] + "  ");
                        firstlayername.className = "menuwords";
                        var collapseone = document.createElement("div");
                        collapseone.className = "panel-collapse collapse";
                        // collapseone.id = "collapse" + i;
                        collapseone.id = firstlayer[i];
                        var panelbody1 = document.createElement("div");
                        panelbody1.className = "panel-body";
                        var panelgroup1 = document.createElement("div");
                        panelgroup1.className = "panel-group " + firstlayer[i];
                        panelgroup1.id = "nested" + i;

                        collapsed1.appendChild(firstlayername);
                        paneltitle1.appendChild(collapsed1);
                        collapseone.appendChild(panelbody1);
                        panelbody1.appendChild(panelgroup1);
                        panelheading1.appendChild(paneltitle1);
                        paneldefault1.appendChild(panelheading1);
                        parentmenu.appendChild(paneldefault1);
                        paneldefault1.appendChild(collapseone);
                        // firstlayer ending
                    });

                };
                var createotherlayer = function() {
                    $.each(res, function (i) {
                        for (var v = 0; v < comparing.length; v++) {
                            //secondlayer beginning
                            if (comparing[v][1] !== res[i].SecondLayer) {

                                if(v === comparing.length - 1) {
                                    var paneldefault2 = document.createElement("div");
                                    paneldefault2.id = res[i].SecondLayer;
                                    paneldefault2.className = "Menu panel panel-info "+ res[i].SecondLayer;
                                    var panelheading2 = document.createElement("div");
                                    panelheading2.className = "panel-heading " + res[i].FirstLayer + "-" + res[i].SecondLayer;
                                    var paneltitle2 = document.createElement("h4");
                                    paneltitle2.className = "panel-title " + res[i].FirstLayer + "-" + res[i].SecondLayer;
                                    var collapsed2 = document.createElement("a");
                                    collapsed2.className = "collapsed";
                                    // collapsed2.id = res[i].FirstLayer + "-" + res[i].SecondLayer;
                                    collapsed2.setAttribute("data-toggle", "collapse");
                                    collapsed2.setAttribute("data-parent", "#nested");
                                    collapsed2.href = "#" + res[i].FirstLayer + "-" + res[i].SecondLayer;
                                    var secondlayername = document.createTextNode(res[i].SecondLayer + "  ");
                                    secondlayername.className = "menuwords";
                                    var nested1c1 = document.createElement("div");
                                    nested1c1.id = res[i].FirstLayer + "-" + res[i].SecondLayer;
                                    nested1c1.className = "panel-collapse collapse";
                                    var panelbody3 = document.createElement("div");
                                    panelbody3.className = "panel-body " + res[i].SecondLayer;

                                    paneldefault2.appendChild(panelheading2);
                                    panelheading2.appendChild(paneltitle2);
                                    paneldefault2.appendChild(nested1c1);
                                    nested1c1.appendChild(panelbody3);
                                    collapsed2.appendChild(secondlayername);
                                    paneltitle2.appendChild(collapsed2);

                                    document.getElementsByClassName("panel-group " + res[i].FirstLayer)[0].appendChild(paneldefault2);
                                    comparing.push([res[i].FirstLayer, res[i].SecondLayer]);
                                }
                            } else {
                                break;
                            }

                        }// secondlayer ending

                        if (res[i].LayerType === "Wmslayer") {
                            let Thirdreplace = res[i].ThirdLayer.replace(/\s+/g, '');
                            let continentnamestr = res[i].ContinentName.replace(/\s+/g, '');
                            let countrynamestr = res[i].CountryName.replace(/\s+/g, '');
                            let statenamestr = res[i].StateName.replace(/\s+/g, '');

                            for (var c = 0; c < comparing3.length; c++) {

                                if (comparing3[c][0] !== res[i].ThirdLayer) {

                                    if (c === comparing3.length - 1) {
                                        var checkboxdivG = document.createElement("div");
                                        checkboxdivG.className = "State " + Thirdreplace + " " + statenamestr + countrynamestr + continentnamestr;
                                        checkboxdivG.id = res[i].ThirdLayer;
                                        var checkboxh5G = document.createElement("h5");
                                        var checkboxaG = document.createElement("a");
                                        var checkaboxatG = document.createTextNode(res[i].ThirdLayer + "   ");
                                        checkaboxatG.className = "menuwords";
                                        var checkboxlabelG = document.createElement("label");
                                        checkboxlabelG.className = "switch right";
                                        var checkboxinputG = document.createElement("input");
                                        checkboxinputG.type = "checkbox";
                                        checkboxinputG.className = "wmsLayer input" + Thirdreplace;
                                        checkboxinputG.id = res[i].LayerType;
                                        checkboxinputG.setAttribute("value", res[i].LayerName);
                                        var checkboxspanG = document.createElement("span");
                                        checkboxspanG.className = "slider round";
                                        checkboxdivG.appendChild(checkboxh5G);
                                        checkboxaG.appendChild(checkaboxatG);
                                        checkboxh5G.appendChild(checkboxaG);
                                        checkboxh5G.appendChild(checkboxlabelG);
                                        checkboxlabelG.appendChild(checkboxinputG);
                                        checkboxlabelG.appendChild(checkboxspanG);
                                        document.getElementsByClassName("panel-body " + res[i].SecondLayer)[0].appendChild(checkboxdivG);
                                        comparing3.push([res[i].ThirdLayer, res[i].LayerName]);
                                        classname.push([Thirdreplace +" " + continentnamestr + countrynamestr + statenamestr, statenamestr]);
                                    }

                                } else {
                                    if (comparing3[c][1] !== res[i].LayerName) {
                                        document.getElementsByClassName("input" + Thirdreplace)[0].removeAttribute("value");
                                        comparing3[c][1] += "," + res[i].LayerName;
                                        document.getElementsByClassName("input" + Thirdreplace)[0].setAttribute("value", comparing3[c][1]);

                                    }
                                    if (classname[c][0] !== Thirdreplace +" " + continentnamestr + countrynamestr + statenamestr) {
                                        classname[c][0] += " " + continentnamestr + countrynamestr + statenamestr;
                                        // classname[c][1] += res[i].CityName;
                                        document.getElementsByClassName("State " + Thirdreplace)[0].className = "State " + classname[c][0];

                                        if (classname[c][1] !== statenamestr) {

                                            document.getElementsByClassName(classname[c][0])[0].className += " " + statenamestr;
                                        }

                                    }

                                }
                            }
                        }

                        if (res[i].LayerType === "Placemark") {
                            let continentnamestr = res[i].ContinentName.replace(/\s+/g, '');
                            let countrynamestr = res[i].CountryName.replace(/\s+/g, '');
                            let statenamestr = res[i].StateName.replace(/\s+/g, '');
                            for (var a = 0; a < comparing3.length; a++) {

                                if (comparing3[a][0] !== res[i].ThirdLayer) {

                                    if (a === comparing3.length - 1) {
                                        var checkboxdiv = document.createElement("div");
                                        checkboxdiv.className = "State " + res[i].ThirdLayer + " " + countrynamestr + statenamestr + continentnamestr;
                                        var checkboxh5 = document.createElement("h5");
                                        var checkboxa = document.createElement("a");
                                        var checkaboxat = document.createTextNode(res[i].ThirdLayer);
                                        var checkboxlabel = document.createElement("label");
                                        checkboxlabel.className = "switch right";
                                        var checkboxinput = document.createElement("input");
                                        checkboxinput.type = "checkbox";
                                        checkboxinput.id = res[i].LayerType;
                                        checkboxinput.className = "input" + res[i].ThirdLayer;
                                        checkboxinput.setAttribute("value", res[i].LayerName);
                                        var checkboxspan = document.createElement("span");
                                        checkboxspan.className = "slider round";
                                        checkboxdiv.appendChild(checkboxh5);
                                        checkboxa.appendChild(checkaboxat);
                                        checkboxh5.appendChild(checkboxa);
                                        checkboxh5.appendChild(checkboxlabel);
                                        checkboxlabel.appendChild(checkboxinput);
                                        checkboxlabel.appendChild(checkboxspan);
                                        document.getElementsByClassName("panel-body " + res[i].SecondLayer)[0].appendChild(checkboxdiv);
                                        comparing3.push([res[i].ThirdLayer, res[i].LayerName]);
                                        classname.push([res[i].ThirdLayer +" " + statenamestr + countrynamestr + continentnamestr, statenamestr]);

                                    }
                                }
                                else {
                                    document.getElementsByClassName("input" + res[i].ThirdLayer)[0].setAttribute("value", res[i].LayerName);
                                    if (classname[a][0] !== res[i].ThirdLayer +" "+ statenamestr + " " + countrynamestr) {
                                        classname[a][0] += " " + statenamestr + countrynamestr + continentnamestr;
                                        document.getElementsByClassName("State " + res[i].ThirdLayer)[0].className ="State "+ classname[a][0];

                                        if (classname[a][1] !== statenamestr) {
                                            document.getElementsByClassName(classname[a][0])[0].className += " " + statenamestr;
                                        }

                                    }

                                }

                            }
                        }

                    });

                };
                createotherlayer(createfirstlayer());
            }
        });
    });
</script>
</html>